  <!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8">
      <title>RPW • Admin</title>
        <script type="text/javascript" src="js/jquery-2.1.1.min.js"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="css/materialize.css"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="css/admin.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body class="bgcliente">
      <!-- MENU -->
      <nav>

        <div class="nav-wrapper">

          <div class="logo-symbol hide-on-med-and-up">
            <img src="img/logo_symbol.png" width="116" height="143">
          </div>

          <ul class="left hide-on-med-and-up2 btn_menu" data-activates="slide-out">
            <li><a href="#!"><i class="material-icons">menu</i></a></li>
          </ul>

          <ul class="right hide-on-small-only btn_sair">
            <li><a href="#" ng-click="sair();"><i class="material-icons right">exit_to_app</i>Sair</a></li>
          </ul>
        </div>

             <ul id="slide-out" class="side-nav fixed rpw-menu">
              <li class="logo"><img src="img/logo_rpw.png" /></li>
              <li><a ng-click="IniciarNovoTurnoCrtl.inicio();" class="waves-effect"><i class="material-icons">home</i>Início</a></li>
              <li><div class="divider"></div></li>
              <li><a ng-click="IniciarNovoTurnoCrtl.voltar();" class="waves-effect"><i class="material-icons">business</i>Voltar</a></li>
            </ul>



      </nav>
      <!-- /MENU -->

      <main class="bg-transparent">
        <div class="section">
          <div class="container2">
            <div class="row no-m">
              <div class="col s12">
                  <h5 class="header blue-text text-darken-2 center-on-small-only title"><i class="material-icons">slow_motion_video</i> <span class="light"> Cadastro de Turno</span></h5>

                  <form novalidate name="mainForm" ng-submit="IniciarNovoTurnoCrtl.iniciarNovoTurno();">
                    <div class="card-panel">
                      <p>Utilize o formulário para cadastrar o turno</p>

                      <div id="mensagensValidacaoDataInicio" class="row mensagensValidacao" ng-show="mainForm.dataInicio.$dirty && (mainForm.dataInicio.$error.required)">
                        <div class="col">
                          <span ng-class="error" ng-show="mainForm.dataInicio.$dirty && mainForm.dataInicio.$error.required"><i class="tiny material-icons mr10">error</i>Data início é obrigatório</span>
                        </div>  
                      </div>

                      <div id="mensagensValidacaoUsuarioTurno" class="row mensagensValidacao" ng-show="mainForm.usuarioTurno.$dirty && (mainForm.usuarioTurno.$error.required)">
                        <div class="col">
                          <span ng-class="error" ng-show="mainForm.usuarioTurno.$dirty && mainForm.usuarioTurno.$error.required"><i class="tiny material-icons mr10">error</i>Nome do usuário é obrigatório</span>
                        </div>  
                      </div>

                      <div id="mensagensValidacaoClienteTurno" class="row mensagensValidacao" ng-show="mainForm.clienteTurno.$dirty && (mainForm.clienteTurno.$error.required)">
                        <div class="col">
                          <span ng-class="error" ng-show="mainForm.clienteTurno.$dirty && mainForm.clienteTurno.$error.required"><i class="tiny material-icons mr10">error</i>Nome do cliente é obrigatório</span>
                        </div>  
                      </div>

                      <div id="mensagensValidacaoLiderSeguranca" class="row mensagensValidacao" ng-show="mainForm.liderSeguranca.$dirty && (mainForm.liderSeguranca.$error.required)">
                        <div class="col">
                          <span ng-class="error" ng-show="mainForm.liderSeguranca.$dirty && mainForm.liderSeguranca.$error.required"><i class="tiny material-icons mr10">error</i>Líder de segurança é obrigatório</span>
                        </div>  
                      </div>

                      <div id="mensagensValidacaoOperador" class="row mensagensValidacao" ng-show="mainForm.operador1.$dirty && (mainForm.operador1.$error.required)">
                        <div class="col">
                          <span ng-class="error" ng-show="mainForm.operador1.$dirty && mainForm.operador1.$error.required"><i class="tiny material-icons mr10">error</i>É obrigatório informador pelo menos um operador</span>
                        </div>  
                      </div>

                      <div class="row">
                      <div class="input-field col s6 pr-5">
                        <input id="dataInicio" name="dataInicio" placeholder="00/00/0000 00:00" type="text" onfocus="(this.type='datetime-local')" ng-model="IniciarNovoTurnoCrtl.turno.dataInicio" onblur="(this.type='text'); conveterDataTexto(this);" required>
                        <label for="dataInicio">Data de início</label>
                      </div>  
                      <div class="input-field col s6 pr-5">
                        <input id="usuarioTurno" name="usuarioTurno" placeholder="Usuário" type="text" ng-model="IniciarNovoTurnoCrtl.turno.nomeUsuario" required>
                        <label for="usuarioTurno">Nome do Usuário</label>
                      </div>
                      <div class="input-field col s6 pl-5">
                        <input id="clienteTurno" name="clienteTurno" placeholder="Cliente" type="text" ng-model="IniciarNovoTurnoCrtl.turno.nomeCliente" required>
                        <label for="clienteTurno">Nome do Cliente</label>
                      </div>
                      <div class="input-field col s6 pr-5">
                          <input id="periodo" type="text" style="display:none;" ng-model="IniciarNovoTurnoCrtl.turno.periodo" />
                          <select onchange="alterarComboPeriodo();" class="usuario_periodo selectable">
                            <option value="" disabled selected>Selecione</option>
                            <option ng-repeat="item in IniciarNovoTurnoCrtl.periodos" value="{{item}}">{{item}}</option>
                          </select>
                          <label>Período</label>
                      </div>                         
                      <div class="input-field col s6 pl-5">
                        <input id="liderSeguranca" name="liderSeguranca" placeholder="Líder de segurança" type="text" ng-model="IniciarNovoTurnoCrtl.turno.liderSeguranca" required>
                        <label for="liderSeguranca">Líder de segurança</label>
                      </div>
                    </div>
                  </div>

                   <div class="card-panel">
                      <p>Utilize o formulário para informar os operadores do turno</p>
                      <div class="row">
                      
                        <div class="input-field col s12">
                          <input id="operador1" name="operador1" placeholder="Operador" type="text" ng-model="IniciarNovoTurnoCrtl.turno.operadores[0]" required>
                          <label for="operador1">Nome do operador</label>
                        </div>

                        <div class="input-field col s12">
                          <input id="operador2" placeholder="Operador" type="text" ng-model="IniciarNovoTurnoCrtl.turno.operadores[1]">
                          <label for="operador2">Nome do operador</label>
                        </div>
                      
                      </div>
                  </div>

                  <div class="input-field col s12">
                    <button type="submit" class="btn-large blue darken-2 waves-effect waves-light col s12" ng-disabled="mainForm.$invalid">Confirmar
                    </button>
                  </div>

                  </form>

              </div>
            </div>
          </div>
        </div>
      </main>        
      

      <!-- Scripts -->
      <script type="text/javascript" src="js/materialize.js"></script>
      <script type="text/javascript">
        $(document).ready(function(){
            $('.selectable').material_select();
            $('#fecharturno').leanModal();
            $('.btn_menu').sideNav({
                menuWidth: 285, 
                closeOnClick: false
              }
            );
            $('.collapsible').collapsible();
            $('.caret').remove();
          });


        function alterarComboPeriodo() {
          var periodoSelecionado = $("div.usuario_periodo > input.select-dropdown").val();
          $("#periodo").val(periodoSelecionado);
          angular.element($("#periodo")).triggerHandler('input')
        }

        function conveterDataTexto(input) {
          var str = $(input).val();
          var splitDataHora = str.split("T");
          var data = splitDataHora[0];
          var hora = splitDataHora[1];

          var splitData = data.split("-");
          var ano = splitData[0];
          var mes = splitData[1];
          var dia = splitData[2];

          var splitHora = hora.split(":");
          var hora = splitHora[0];
          var minuto = splitHora[1];
          
          $(input).val(dia+"/"+mes+"/"+ano+" "+hora+":"+minuto);
        }
      </script>
      <!-- /Scripts -->
    </body>
  </html>