  <!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8">
      <title>RPW • Admin</title>
        <script type="text/javascript" src="js/jquery-2.1.1.min.js"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="css/materialize.css"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="css/admin.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body class="bgcliente">
      <!-- MENU -->
      <nav>

        <div class="nav-wrapper">

          <div class="logo-symbol hide-on-med-and-up">
            <img src="img/logo_symbol.png" width="116" height="143">
          </div>

          <ul class="left hide-on-med-and-up2 btn_menu" data-activates="slide-out">
            <li><a href="#!"><i class="material-icons">menu</i></a></li>
          </ul>

          <ul class="right hide-on-small-only btn_sair">
            <li><a href="#" ng-click="sair();"><i class="material-icons right">exit_to_app</i>Sair</a></li>
          </ul>
        </div>

             <ul id="slide-out" class="side-nav fixed rpw-menu">
              <li class="logo"><img src="img/logo_rpw.png" /></li>
              <li><a ng-click="IniciarNovoTurnoCrtl.inicio();" class="waves-effect"><i class="material-icons">home</i>Início</a></li>
              <li><div class="divider"></div></li>
              <li><a ng-click="IniciarNovoTurnoCrtl.voltar();" class="waves-effect"><i class="material-icons">business</i>Voltar</a></li>
            </ul>



      </nav>
      <!-- /MENU -->

      <main class="bg-transparent">
        <div class="section">
          <div class="container2">
            <div class="row no-m">
              <div class="col s12">
                  <h5 class="header blue-text text-darken-2 center-on-small-only title"><i class="material-icons">slow_motion_video</i> <span class="light"> Cadastro de Turno</span></h5>

                  <form novalidate name="mainForm" ng-submit="IniciarNovoTurnoCrtl.iniciarNovoTurno();">
                    <div class="card-panel">
                      <p>Utilize o formulário para cadastrar o turno</p>
                      <div class="row">
                      <div class="input-field col s6 pr-5">
                        <input id="usuario_login" placeholder="00/00/0000 00:00" type="text" onfocus="(this.type='datetime-local')" ng-model="IniciarNovoTurnoCrtl.turno.dataInicio" onblur="(this.type='text')">
                        <label for="usuario_login">Data de início</label>
                      </div>  
                      <div class="input-field col s6 pl-5">
                        <input id="usuario_senha" placeholder="00/00/0000 00:00" type="text" onfocus="(this.type='datetime-local')" ng-model="IniciarNovoTurnoCrtl.turno.dataFim" onblur="(this.type='text')">
                        <label for="usuario_senha">Data de término</label>
                      </div>
                      <div class="input-field col s6 pr-5">
                        <input id="usuario_login" placeholder="Usuário" type="text" ng-model="IniciarNovoTurnoCrtl.turno.nomeUsuario">
                        <label for="usuario_login">Nome do Usuário</label>
                      </div>
                      <div class="input-field col s6 pl-5">
                        <input id="usuario_senha" placeholder="Cliente" type="text" ng-model="IniciarNovoTurnoCrtl.turno.nomeCliente">
                        <label for="usuario_senha">Nome do Cliente</label>
                      </div>
                      <div class="input-field col s6 pr-5">
                          <input id="periodo" type="text" style="display:none;" ng-model="IniciarNovoTurnoCrtl.turno.periodo" />
                          <select onchange="alterarComboPeriodo();" class="usuario_periodo selectable">
                            <option value="" disabled selected>Selecione</option>
                            <option ng-repeat="item in IniciarNovoTurnoCrtl.periodos" value="{{item}}">{{item}}</option>
                          </select>
                          <label>Período</label>
                      </div>
                      <div class="input-field col s6 pl-5">
                        <input id="condicaoClimatica" type="text" style="display:none;" ng-model="IniciarNovoTurnoCrtl.turno.condicaoClimatica" />
                        <select onchange="alterarComboCondicoesClimaticas();" class="usuario_condicaoClimatica selectable">
                          <option value="" disabled selected>Selecione</option>
                          <option ng-repeat="item in IniciarNovoTurnoCrtl.condicoesClimaticas" value="{{item}}">{{item}}</option>
                        </select>
                        <label>Condição Climatica</label>
                      </div>
                      <div class="input-field col s6">
                        <input id="tempo" type="text" style="display:none;" ng-model="IniciarNovoTurnoCrtl.turno.tempo" />
                        <select onchange="alterarComboTempo();" class="usuario_tempo selectable">
                          <option value="" disabled selected>Selecione</option>
                          <option ng-repeat="item in IniciarNovoTurnoCrtl.tempo" value="{{item}}">{{item}}</option>
                        </select>
                        <label>Tempo</label>
                      </div>
                      <div class="input-field col s6 pl-5">
                        <input id="liderSeguranca" placeholder="Líder de segurança" type="text" ng-model="IniciarNovoTurnoCrtl.turno.liderSeguranca">
                        <label for="usuario_senha">Líder de segurança</label>
                      </div>
                    </div>
                  </div>

                   <div class="card-panel">
                      <p>Utilize o formulário para informar os operadores do turno</p>
                      <div class="row">
                      
                        <div class="input-field col s12">
                          <input id="operador1" placeholder="Operador" type="text" ng-model="IniciarNovoTurnoCrtl.turno.operadores[0]">
                          <label for="operador1">Nome do operador</label>
                        </div>

                        <div class="input-field col s12">
                          <input id="operador2" placeholder="Operador" type="text" ng-model="IniciarNovoTurnoCrtl.turno.operadores[1]">
                          <label for="operador2">Nome do operador</label>
                        </div>
                      
                      </div>
                  </div>

                  <div class="input-field col s12">
                    <button type="submit" class="btn-large blue darken-2 waves-effect waves-light col s12" ng-disabled="mainForm.$invalid">Confirmar
                    </button>
                  </div>

                  </form>

              </div>
            </div>
          </div>
        </div>
      </main>        
      

      <!-- Scripts -->
      <script type="text/javascript" src="js/materialize.js"></script>
      <script type="text/javascript">
        $(document).ready(function(){
            $('.selectable').material_select();
            $('#fecharturno').leanModal();
            $('.btn_menu').sideNav({
                menuWidth: 285, 
                closeOnClick: false
              }
            );
            $('.collapsible').collapsible();
            $('.caret').remove();
          });

        function alterarComboTempo() {
          var tempoSelecionado = $("div.usuario_tempo > input.select-dropdown").val();
          $("#tempo").val(tempoSelecionado);
          angular.element($("#tempo")).triggerHandler('input')
        }

        function alterarComboPeriodo() {
          var periodoSelecionado = $("div.usuario_periodo > input.select-dropdown").val();
          $("#periodo").val(periodoSelecionado);
          angular.element($("#periodo")).triggerHandler('input')
        }

        function alterarComboCondicoesClimaticas() {
          var condicoesClimaticasSelecionado = $("div.usuario_condicaoClimatica > input.select-dropdown").val();
          $("#condicaoClimatica").val(condicoesClimaticasSelecionado);
          angular.element($("#condicaoClimatica")).triggerHandler('input')
        }
      </script>
      <!-- /Scripts -->
    </body>
  </html>