  <!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8">
      <title>RPW • Admin</title>
        <script type="text/javascript" src="js/jquery-2.1.1.min.js"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="css/materialize.css"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="css/admin.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body class="bgcliente">
      <!-- MENU -->
      <nav>

        <div class="nav-wrapper">

          <div class="logo-symbol hide-on-med-and-up">
            <img src="img/logo_symbol.png" width="116" height="143">
          </div>

          <ul class="left hide-on-med-and-up2 btn_menu" data-activates="slide-out">
            <li><a href="#!"><i class="material-icons">menu</i></a></li>
          </ul>

          <ul class="right hide-on-small-only btn_sair">
            <li><a href="#" ng-click="sair();"><i class="material-icons right">exit_to_app</i>Sair</a></li>
          </ul>
        </div>

            <ul id="slide-out" class="side-nav fixed rpw-menu">
              <li class="logo"><img src="img/logo_rpw.png" /></li>
              <li><a ng-click="CadastrarOcorrenciaCrtl.inicio();" class="waves-effect"><i class="material-icons">home</i>Início</a></li>
              <li><div class="divider"></div></li>
              <li><a ng-click="CadastrarOcorrenciaCrtl.voltar();" class="waves-effect"><i class="material-icons">business</i>Voltar</a></li>
            </ul>



      </nav>
      <!-- /MENU -->

      <main class="bg-transparent">
        <div class="section">
          <div class="container2">
              <div class="row no-m">
                <div class="col">
                  <h5 class="header blue-text text-darken-2 center-on-small-only title"><i class="material-icons">add_to_queue</i> <span class="light"> Cadastrar Ocorrência</span></h5>
                </div>
              </div>

              <div class="row card-panel">
                <div class="col s12 m12">

                      <span style="padding-top: 40px;" class="text-bold col s5">Qual ocorrência aconteceu? </span>

                      <div class="input-field col s4">
                        <input id="tipoOcorrencia" type="text" style="display:none;" ng-model="CadastrarOcorrenciaCrtl.indexTipoOcorrenciaSelecionada" />
                        <select onchange="alterarComboTipoOcorrencias();" class="select_tipoOcorrencia selectable">
                          <option value="" disabled selected>Selecione</option>
                          <option ng-repeat="tipoOcorrenciaAtual in CadastrarOcorrenciaCrtl.tiposOcorrencia" value="{{item.id}}">{{$index}} - {{tipoOcorrenciaAtual.descricao}}</option>
                        </select>
                      </div>

                      <a id="ir" style="margin-top: 30px;margin-left: 60px;" ng-click="CadastrarOcorrenciaCrtl.consultarTipoOcorrencia();" class="waves-effect waves-light btn green darken-1 col s1" href="#!">IR</a>
                </div>
              </div>

              <div class="row" ng-show="CadastrarOcorrenciaCrtl.tipoOcorrencia != null">
                <div class="col s12">
                  <div class="card-panel">
                    <p>Utilize o formulário para cadastrar a ocorrência {{CadastrarOcorrenciaCrtl.tipoOcorrencia.descricao}}</p>

                    <div class="row">
                        <div class="input-field col s12 m6 pr-5" ng-repeat="campo in CadastrarOcorrenciaCrtl.tipoOcorrencia.campos">

                          <input type="text" style="display:none;" class="campoValor" ng-model="CadastrarOcorrenciaCrtl.ocorrencia.campos[$index].descricao" ng-value="campo.descricao"/>

                          <input type="text" style="display:none;" class="campoValor" ng-model="CadastrarOcorrenciaCrtl.ocorrencia.campos[$index].tipo" ng-value="campo.tipoCampo"/>

                          <input ng-model="CadastrarOcorrenciaCrtl.ocorrencia.campos[$index].valor" id="chamadapostos_responsavel" type="text" ng-if="campo.tipoCampo == 'TEXTO'" />
                          
                          <input ng-model="CadastrarOcorrenciaCrtl.ocorrencia.campos[$index].valor" id="chamadapostos_responsavel" placeholder="00/00/0000 00:00" type="text" onfocus="(this.type='datetime-local')" onblur="(this.type='text'); preencherCampoValor();" ng-if="campo.tipoCampo == 'DATA'">
                          
                          <label class="active" for="chamadapostos_responsavel">{{campo.descricao}}</label>
                        </div>

                        <div class="input-field col s12 m6 pr-5">
                          <input id="informanteOcorrencia" type="text" style="display:none;" ng-model="CadastrarOcorrenciaCrtl.ocorrencia.informanteOcorrencia" />
                          <select onchange="alterarComboInformanteOcorrencia();" class="usuario_informanteOcorrencia selectable">
                            <option value="" disabled selected>Selecione</option>
                            <option ng-repeat="item in CadastrarOcorrenciaCrtl.informantesOcorrencias" value="{{item}}">{{item}}</option>
                          </select>
                          <label>Informante da ocorrêcia</label>
                      </div>
                    </div>

                      <div class="input-field">
                      <button class="btn-large blue darken-2 waves-effect waves-light col s12" name="action" ng-click="CadastrarOcorrenciaCrtl.salvarOcorrencia();">Salvar Ocorrência
                        <i class="material-icons right">done_all</i>
                      </button>
                    </div>

                  </div>
                </div>
              </div>

          </div>
        </div>
      </main>
              
      

      <!-- Scripts -->
      <script type="text/javascript" src="js/materialize.js"></script>
      <script type="text/javascript">
        $(document).ready(function(){
            $('.collapsible').collapsible({
              accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
            });
            $('.selectable').material_select();
            $('.btn_menu').sideNav({
                menuWidth: 285, 
                closeOnClick: false
              }
            );

            $('.caret').remove();
          });

        function preencherCampoValor() {
          $(".campoValor").each(function( index ) {
            angular.element($(this)).triggerHandler('input')
          });
        }

        function alterarComboTipoOcorrencias() {
          var tipoOcorrenciaSelecionada = $("div.select_tipoOcorrencia li.selected span").get(0).innerHTML;
          $("#tipoOcorrencia").val(tipoOcorrenciaSelecionada.split(" - ")[0]);
          angular.element($("#tipoOcorrencia")).triggerHandler('input')
        }

        function alterarComboInformanteOcorrencia() {
          var informanteOcorrenciaSelecionado = $("div.usuario_informanteOcorrencia > input.select-dropdown").val();
          $("#informanteOcorrencia").val(informanteOcorrenciaSelecionado);
          angular.element($("#informanteOcorrencia")).triggerHandler('input')
        }
      </script>
      <!-- /Scripts -->
    </body>
  </html>