  <!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8">
      <title>RPW • Admin</title>
        <script type="text/javascript" src="js/jquery-2.1.1.min.js"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="css/materialize.css"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="css/admin.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body class="bgcliente">
      <!-- MENU -->
      <nav>

        <div class="nav-wrapper">

          <div class="logo-symbol hide-on-med-and-up">
            <img src="img/logo_symbol.png" width="116" height="143">
          </div>

          <ul class="left hide-on-med-and-up2 btn_menu" data-activates="slide-out">
            <li><a href="#!"><i class="material-icons">menu</i></a></li>
          </ul>

          <ul class="right hide-on-small-only btn_sair">
            <li><a href="#" ng-click="sair();"><i class="material-icons right">exit_to_app</i>Sair</a></li>
          </ul>
        </div>

             <ul id="slide-out" class="side-nav fixed rpw-menu">
              <li class="logo"><img src="img/logo_rpw.png" /></li>
              <li><a ng-click="ConsultarTurnosUsuarioCrtl.inicio();" class="waves-effect"><i class="material-icons">home</i>Início</a></li>
              <li><div class="divider"></div></li>
              <li><a ng-click="ConsultarTurnosUsuarioCrtl.voltar();" class="waves-effect"><i class="material-icons">business</i>Voltar</a></li>
            </ul>



      </nav>
      <!-- /MENU -->

      <main class="bg-transparent">
        <div class="section">
          <div class="container2">
            <div class="row no-m">
              <div class="col s12">
                  <h5 class="header blue-text text-darken-2 center-on-small-only title"><i class="material-icons">slow_motion_video</i> <span class="light"> Consulta de Turno</span></h5>

                  
                  <div id="dadosTurno">
                   <div class="row">
                      <div class="col s12 m12" >
                      <h5 class="header black-text text-darken-2 center-on-small-only title"><i class="material-icons">toc</i> <span class="light">Dados</span></h5>
                      <div class="card-panel">
                          <div class="row">
                            <div class="col s12 m6" >
                              <span class="bold">ID:</span>
                              <span>{{ConsultarTurnosUsuarioCrtl.turnoConsulta.id}}</span>
                            </div>

                            <div class="col s12 m6" >
                              <span class="bold">Usuário:</span> 
                              <span>{{ConsultarTurnosUsuarioCrtl.turnoConsulta.nomeUsuario}}</span>
                            </div>
                            
                          </div>

                          <div class="row">
                            <div class="col s12 m6" >
                              <span class="bold">Cliente:</span> 
                              <span>{{ConsultarTurnosUsuarioCrtl.turnoConsulta.nomeCliente}}</span>
                            </div>

                            <div class="col s12 m6" >
                              <span class="bold">Data de inicio:</span> 
                              <span>{{ConsultarTurnosUsuarioCrtl.turnoConsulta.dataInicio}}</span>
                            </div>
                            
                          </div>

                          <div class="row">
                            <div class="col s12 m6" >
                              <span class="bold">Data de término:</span> 
                              <span>{{ConsultarTurnosUsuarioCrtl.turnoConsulta.dataFim}}</span>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col s12 m6" >
                              <span class="bold">Status:</span> 
                              <span>{{ConsultarTurnosUsuarioCrtl.turnoConsulta.status}}</span>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col s12 m12" >
                              <span class="bold">Operadores:</span> 
                              <span>{{ConsultarTurnosUsuarioCrtl.turnoConsulta.operadores}}</span>
                            </div>
                          </div>
                          
                      </div>
                      </div>
                    </div>


                    <div class="row">
                      <div class="col s12 m12" >
                      <h5 class="header black-text text-darken-2 center-on-small-only title"><i class="material-icons">toc</i> <span class="light">Ocorrências cadastradas</span></h5>
                      <div class="card-panel">
                      
                        <div class="row">
                          <label class="col s12 barraBuscaFont">Digite a sua pesquisa: <input style="color:black;" ng-model="searchTextOcorrencia"></label>
                        </div>

                        <table class="responsive-table striped" ng-show="ConsultarTurnosUsuarioCrtl.turnoConsulta.ocorrenciasDto.length > 0">
                          <thead>
                            <tr>
                                <th data-field="id">Tipo de ocorrência</th>
                                <th data-field="id">Data</th>
                                <th data-field="id">Resumo</th>
                                <th data-field="id" class="center-on-small-only right-align">Operações</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr ng-repeat="ocorrencia in ConsultarTurnosUsuarioCrtl.turnoConsulta.ocorrenciasDto | filter:searchTextOcorrencia">
                              <td>{{ocorrencia.descTipoOcorrencia}}</td>
                              <td>{{ocorrencia.dataCadastro}}</td>
                              <td>{{ocorrencia.resumoOcorrencia}}</td>
                              <td class="right-align">
                                <a href="#" ng-click="ClienteCrtl.editarCamera(camera);"><i class="material-icons small blue-text">mode_edit</i></a>
                                <a href="#" ng-click="ConsultarTurnosUsuarioCrtl.removerOcorrencia(ocorrencia.idOcorrencia, ConsultarTurnosUsuarioCrtl.turnoConsulta.id);"><i class="material-icons small red-text">delete</i></a>
                              </td>
                            </tr>
                          </tbody>
                        </table>

                        <center><h6 ng-show="ConsultarTurnosUsuarioCrtl.turnoConsulta.ocorrenciasDto.length == 0">Nenhuma ocorrência cadastrada</h6></center>

                      </div>

                      </div>
                    </div>
              </div>
            </div>
          </div>
        </div>
      </main>        
      

      <!-- Scripts -->
      <script type="text/javascript" src="js/materialize.js"></script>
      <script type="text/javascript">
        $(document).ready(function(){
            $('.selectable').material_select();
            $('#fecharturno').leanModal();
            $('.btn_menu').sideNav({
                menuWidth: 285, 
                closeOnClick: false
              }
            );
            $('.collapsible').collapsible();
            $('.caret').remove();
          });
      </script>
      <!-- /Scripts -->
    </body>
  </html>