  <!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8">
      <title>RPW • Admin</title>
        <script type="text/javascript" src="js/jquery-2.1.1.min.js"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="css/materialize.css"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="css/admin.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body class="bgcliente">
      <!-- MENU -->
      <nav>

        <div class="nav-wrapper">

          <div class="logo-symbol hide-on-med-and-up">
            <img src="img/logo_symbol.png" width="116" height="143">
          </div>

          <ul class="left hide-on-med-and-up2 btn_menu" data-activates="slide-out">
            <li><a href="#!"><i class="material-icons">menu</i></a></li>
          </ul>

          <ul class="right hide-on-small-only btn_sair">
            <li><a href="#" ng-click="sair();"><i class="material-icons right">exit_to_app</i>Sair</a></li>
          </ul>
        </div>

            <ul id="slide-out" class="side-nav fixed rpw-menu">
              <li class="logo"><img src="img/logo_rpw.png" /></li>
              <li><a ng-click="GerenciarCamerasCrtl.inicio();" class="waves-effect"><i class="material-icons">home</i>Início</a></li>
              <li><div class="divider"></div></li>
              <li><a ng-click="GerenciarCamerasCrtl.voltar();" class="waves-effect"><i class="material-icons">business</i>Voltar</a></li>
            </ul>



      </nav>
      <!-- /MENU -->

      <main class="bg-transparent">
        <div class="section">
          <div class="container2">
              <div class="row no-m">
                <div class="col">
                  <h5 class="header blue-text text-darken-2 center-on-small-only title"><i class="material-icons">videocam</i> <span class="light"> Situação das Câmeras</span></h5>
                </div>
              </div>

              <div class="row">
                <div class="col s12 m12 ">
                  <div class="card-panel">
                    <p>Utilize o formulário para cadastrar o a situação</p>

                    <div class="row">
                      <form novalidate name="mainForm" ng-submit="GerenciarCamerasCrtl.inserirAvalicacaoDesligada();">
                        <table class="responsive-table">
                          <tbody>

                            <tr>
                              <td>
                                <div class="input-field col s12">
                                  <input id="cameraSelecionada" type="text" style="display:none;" ng-model="GerenciarCamerasCrtl.situacaoCameraDto.idCamera" />
                                  <select onchange="alterarComboCamera();" class="cameraSelecionada_gerenciair selectable">
                                    <option value="" disabled selected>Selecione</option>
                                    <option ng-repeat="camera in GerenciarCamerasCrtl.camerasCliente" value="{{camera.id}}">{{camera.id}} - {{camera.descricaoCamera}}</option>
                                  </select>
                                  <label>Câmera</label>
                                </div>
                              </td>
                              <td>
                                <div class="input-field col s12 pr-5">
                                  <input id="usuario_login" placeholder="00/00/0000 00:00" type="text" onfocus="(this.type='datetime-local')" onblur="(this.type='text');conveterDataTexto(this);" ng-model="GerenciarCamerasCrtl.situacaoCameraDto.dataHora">
                                  <label for="usuario_login">Data de início</label>
                                </div> 
                              </td>
                            </tr>

                          </tbody>
                        </table> 

                        <div class="input-field col s12">
                          <button class="btn-large blue darken-2 waves-effect waves-light col s12" type="submit" name="action">Cadastrar
                            <i class="material-icons right">send</i>
                          </button>
                        </div>
                      </form>

                    </div>

                    <table class="responsive-table striped">
                      <thead>
                        <tr>
                            <th data-field="id">Câmeras inativas</th>
                        </tr>
                      </thead>
                      <tbody>

                        <tr ng-repeat="cameraDesligada in camerasDesligadas">
                          <td>
                            <div class="input-field col s12 no-mt">
                              <span>{{cameraDesligada.descricaoCamera}}</span>
                            </div>
                          </td>
                          <td>
                            <div class="input-field col s12 no-mt">
                              <input ng-model="GerenciarCamerasCrtl.dataAvaliacaoLigada" placeholder="00/00/0000 00:00" type="text" onfocus="(this.type='datetime-local')" onblur="(this.type='text'); conveterDataTexto(this);" class="validate">
                              <label for="usuario_login">Data volta</label>
                            </div>
                          </td>
                          <td class="center"><a id="excluir" ng-click="GerenciarCamerasCrtl.reativarCamera(cameraDesligada.idSituacaoCamera);" class="waves-effect waves-light btn green darken-1" href="#!"><i class="material-icons">settings_backup_restore</i></a>
                          </td>
                        </tr>

                      </tbody>
                    </table>

                  </div>
                </div>
              </div>

          </div>
        </div>
      </main>
              
     

      <!-- Scripts -->
      <script type="text/javascript" src="js/materialize.js"></script>
      <script type="text/javascript">
        $(document).ready(function(){
            $('.selectable').material_select();
            $('.btn_menu').sideNav({
                menuWidth: 285, 
                closeOnClick: false
              }
            );
            $('.collapsible').collapsible();
            $('.caret').remove();
          });

        function alterarComboCamera() {
          var cameraSelecionada = $("div.cameraSelecionada_gerenciair > input.select-dropdown").val();
          $("#cameraSelecionada").val(cameraSelecionada.split(" - ")[0]);
          angular.element($("#cameraSelecionada")).triggerHandler('input')
        }

        function conveterDataTexto(input) {
          var str = $(input).val();
          var splitDataHora = str.split("T");
          var data = splitDataHora[0];
          var hora = splitDataHora[1];

          var splitData = data.split("-");
          var ano = splitData[0];
          var mes = splitData[1];
          var dia = splitData[2];

          var splitHora = hora.split(":");
          var hora = splitHora[0];
          var minuto = splitHora[1];
          
          $(input).val(dia+"/"+mes+"/"+ano+" "+hora+":"+minuto);
        }
      </script>
      <!-- /Scripts -->
    </body>
  </html>