  <!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8">
      <title>RPW • Admin</title>
        <script type="text/javascript" src="js/jquery-2.1.1.min.js"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="css/materialize.css"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="css/admin.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body class="bgcliente">
      <!-- MENU -->
      <nav>

        <div class="nav-wrapper">

          <div class="logo-symbol hide-on-med-and-up">
            <img src="img/logo_symbol.png" width="116" height="143">
          </div>

          <ul class="left hide-on-med-and-up2 btn_menu" data-activates="slide-out">
            <li><a href="#!"><i class="material-icons">menu</i></a></li>
          </ul>

          <ul class="right hide-on-small-only btn_sair">
            <li><a href="#" ng-click="HomeCrtl.sair();"><i class="material-icons right">exit_to_app</i>Sair</a></li>
          </ul>
        </div>

            <ul id="slide-out" class="side-nav fixed rpw-menu">
              <li class="logo"><img src="img/logo_rpw.png" /></li>
              <li class="active"><a href="#" ng-click="HomeCrtl.irPara('home-funcionario');" class="waves-effect"><i class="material-icons">home</i>Meu painel</a></li>
              <li><div class="divider"></div></li>
              <li><a href="#" ng-click="HomeCrtl.irParaTurnos();" class="waves-effect"><i class="material-icons">slow_motion_video</i>Cadastro de Turno</a></li>
              <li><div class="divider"></div></li>
              <li><a href="#" ng-click="HomeCrtl.irParaOcorrencias();" class="waves-effect"><i class="material-icons">add_to_queue</i>Cadastrar Ocorrência</a></li>
              <li><div class="divider"></div></li>
              <li><a href="#" ng-click="HomeCrtl.gerenciarCameras();" class="waves-effect"><i class="material-icons">videocam</i>Situação da Câmera</a></li>
            </ul>



      </nav>
      <!-- /MENU -->

      <main class="bg-transparent">
        <div class="section">
          <div class="container2">
            <div class="row no-m">
              <div class="col">
                <h5 class="header blue-text text-darken-2 center-on-small-only"><span class="light">Bem-vindo,</span> <span ng-bind="HomeCrtl.nomeUsuario"></span> </h5>
              </div>
            </div>

            <br />
            <br />

            <div class="row">
              <h5>
                <span class="col light">
                  <i class="material-icons" style="padding-right: 10px;">slow_motion_video</i>
                  Meus turnos
                </span>
              </h5>
              <div class="col s12">
                <div class="card-panel">
                  <center>
                    <span class="texto_destaque">{{HomeCrtl.mensagemTurno}}</span>

                    <table class="responsive-table striped" ng-show="HomeCrtl.turnos.length > 0">
                      <thead>
                        <tr>
                            <th data-field="id">ID</th>
                            <th data-field="id">Inicio</th>
                            <th data-field="id">Usuário</th>
                            <th data-field="id">Cliente</th>
                            <th data-field="id">Status</th>
                            <th data-field="id" class="center-on-small-only right-align">Operações</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="turno in HomeCrtl.turnos | filter:searchText">
                          <td>{{turno.id}}</td>
                          <td>{{turno.dataInicio}}</td>
                          <td>{{turno.nomeUsuario}}</td>
                          <td>{{turno.nomeCliente}}</td>
                          <td>{{turno.status}}</td>
                          <td class="right-align">
                            <a href="#" ng-click="UsuarioCrtl.editarUsuario(usuario.id);"><i class="material-icons small blue-text">mode_edit</i></a>
                            <a href="#" ng-click="UsuarioCrtl.removerUsuario(usuario.id, usuario.usuario);"><i class="material-icons green">settings_backup_restore</i></a>
                          </td>
                        </tr>
                        
                      </tbody>
                    </table>

                  </center>
                </div>
              </div>
          </div>

          <br />
            <br />

            <div class="row">
              <h5>
                <span class="col light">
                  <i class="material-icons" style="padding-right: 10px;">slow_motion_video</i>
                  Últimos turnos turnos
                </span>
              </h5>
              <div class="col s12">
                <div class="card-panel">
                  <center>
                    <span class="texto_destaque" ng-show="HomeCrtl.turnosAnteriores.length == 0">Não existe nenhum turno cadastrado anteriormente.</span>

                    <table class="responsive-table striped" ng-show="HomeCrtl.turnosAnteriores.length > 0">
                      <thead>
                        <tr>
                            <th data-field="id">ID</th>
                            <th data-field="id">Inicio</th>
                            <th data-field="id">Usuário</th>
                            <th data-field="id">Cliente</th>
                            <th data-field="id">Status</th>
                            <th data-field="id" class="center-on-small-only right-align">Operações</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="turno in HomeCrtl.turnos | filter:searchText">
                          <td>{{turno.id}}</td>
                          <td>{{turno.dataInicio}}</td>
                          <td>{{turno.nomeUsuario}}</td>
                          <td>{{turno.nomeCliente}}</td>
                          <td>{{turno.status}}</td>
                          <td class="right-align">
                            <a href="#" ng-click="UsuarioCrtl.editarUsuario(usuario.id);"><i class="material-icons small blue-text">mode_edit</i></a>
                          </td>
                        </tr>
                        
                      </tbody>
                    </table>

                  </center>
                </div>
              </div>
          </div>
        </div>
      </main>
              
      

      <!-- Scripts -->
      <script type="text/javascript" src="js/materialize.js"></script>
      <script type="text/javascript">
        $(document).ready(function(){
            $('.selectable').material_select();
            $('#fecharturno').leanModal();
            $('.btn_menu').sideNav({
                menuWidth: 285, 
                closeOnClick: false
              }
            );
            $('.collapsible').collapsible();
          });
      </script>
      <!-- /Scripts -->
    </body>
  </html>