      <!DOCTYPE html>
      <html>
        <head>
          <meta charset="utf-8">
          <title>RPW • Admin</title>
            <script type="text/javascript" src="js/jquery-2.1.1.min.js"></script>
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <link type="text/css" rel="stylesheet" href="css/materialize.css"  media="screen,projection"/>
            <link type="text/css" rel="stylesheet" href="css/admin.css" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        </head>

        <body>
          <!-- MENU -->
          <nav>

            <div class="nav-wrapper">

              <div class="logo-symbol hide-on-med-and-up">
                <img src="img/logo_symbol.png" width="116" height="143">
              </div>

              <ul class="left hide-on-med-and-up2 btn_menu" data-activates="slide-out">
                <li><a href="#!"><i class="material-icons">menu</i></a></li>
              </ul>

              <ul class="right hide-on-small-only btn_sair">
                <li><a href="#!"><i class="material-icons right">exit_to_app</i>Sair</a></li>
              </ul>
            </div>

            <ul id="slide-out" class="side-nav fixed rpw-menu">
              <li class="logo"><img src="img/logo_rpw.png" /></li>
              <li><a href="admin.html" class="waves-effect"><i class="material-icons">home</i>Início</a></li>
              <li><div class="divider"></div></li>
              <li><a href="admin_usuario.html" class="waves-effect"><i class="material-icons">person_add</i>Cadastrar Usuário</a></li>
              <li><div class="divider"></div></li>
              <li><a href="admin_cliente.html" class="waves-effect"><i class="material-icons">business</i>Cadastrar Cliente</a></li>
              <li><div class="divider"></div></li>
              <li class="active"><a href="admin_ocorrencia.html" class="waves-effect"><i class="material-icons">note_add</i>Tipos de ocorrência</a></li>
            </ul>



          </nav>
          <!-- /MENU -->

        <main>
          <div class="section no-p">
            <div class="container2">
              <div class="row no-m">
                <div class="col">
                  <h5 class="header blue-text text-darken-2 center-on-small-only title"><i class="material-icons">note_add</i> <span class="light"> Cadastrar Tipo de Ocorrência</span></h5>
                </div>
              </div>

              <div class="row">
                <div class="col s12 m12 ">
                  <div class="card-panel">
                    <p>Utilize o formulário para cadastrar o tipo da ocorrência.</p>

                    <div class="row">
                      <div class="input-field col s12 pr-5">
                        <input id="usuario_login" ng-model="CadastrarTipoOcorrenciaCrtl.tipoOcorrencia.descricao" type="text" class="validate">
                        <label for="usuario_login">Descrição da ocorrência</label>
                      </div>
                    </div>

                    <!--  -->
                    <div class="row no-m">
                      <div class="input-field col s12 m6">
                        <input id="descricaoCampo[0]" ng-model="CadastrarTipoOcorrenciaCrtl.tipoOcorrencia.campos[0].descricao" type="text" class="validate">
                        <label for="descricaoCampo[0]">campo</label>
                      </div>

                      <div class="input-field col s12 m5">
                        <input id="tipoCampo0" type="text" style="display:none;" ng-model="CadastrarTipoOcorrenciaCrtl.tipoOcorrencia.campos[0].tipoCampo" />
                        <select onchange="alterarComboTipoOcorrencia(0);" class="tipoCampo0 selectable">
                          <option value="" disabled selected>Selecione</option>
                          <option ng-repeat="item in tiposCampoOcorrenciaConsulta" value="{{item}}">{{item}}</option>
                          
                        </select>
                        <label>Tipo do campo</label>
                      </div>
                      <!--  -->

                      <!--  -->
                    <div class="row no-m">
                      <div class="input-field col s12 m6">
                        <input id="descricaoCampo[1]" ng-model="CadastrarTipoOcorrenciaCrtl.tipoOcorrencia.campos[1].descricao" type="text" class="validate">
                        <label for="descricaoCampo[1]">campo</label>
                      </div>

                      <div class="input-field col s12 m5">
                        <input id="tipoCampo1" type="text" style="display:none;" ng-model="CadastrarTipoOcorrenciaCrtl.tipoOcorrencia.campos[1].tipoCampo" />
                        <select onchange="alterarComboTipoOcorrencia(1);" class="tipoCampo1 selectable">
                          <option value="" disabled selected>Selecione</option>
                          <option ng-repeat="item in tiposCampoOcorrenciaConsulta" value="{{item}}">{{item}}</option>
                          
                        </select>
                        <label>Tipo do campo</label>
                      </div>
                      <!--  -->

                      <!--  -->
                    <div class="row no-m">
                      <div class="input-field col s12 m6">
                        <input id="descricaoCampo[2]" ng-model="CadastrarTipoOcorrenciaCrtl.tipoOcorrencia.campos[2].descricao" type="text" class="validate">
                        <label for="descricaoCampo[2]">campo</label>
                      </div>

                      <div class="input-field col s12 m5">
                        <input id="tipoCampo2" type="text" style="display:none;" ng-model="CadastrarTipoOcorrenciaCrtl.tipoOcorrencia.campos[2].tipoCampo" />
                        <select onchange="alterarComboTipoOcorrencia(2);" class="tipoCampo2 selectable">
                          <option value="" disabled selected>Selecione</option>
                          <option ng-repeat="item in tiposCampoOcorrenciaConsulta" value="{{item}}">{{item}}</option>
                          
                        </select>
                        <label>Tipo do campo</label>
                      </div>
                      <!--  -->

                      <!--  -->
                    <div class="row no-m">
                      <div class="input-field col s12 m6">
                        <input id="descricaoCampo[3]" ng-model="CadastrarTipoOcorrenciaCrtl.tipoOcorrencia.campos[3].descricao" type="text" class="validate">
                        <label for="descricaoCampo[3]">campo</label>
                      </div>

                      <div class="input-field col s12 m5">
                        <input id="tipoCampo3" type="text" style="display:none;" ng-model="CadastrarTipoOcorrenciaCrtl.tipoOcorrencia.campos[3].tipoCampo" />
                        <select onchange="alterarComboTipoOcorrencia(3);" class="tipoCampo3 selectable">
                          <option value="" disabled selected>Selecione</option>
                          <option ng-repeat="item in tiposCampoOcorrenciaConsulta" value="{{item}}">{{item}}</option>
                          
                        </select>
                        <label>Tipo do campo</label>
                      </div>
                      <!--  -->

                      <!--  -->
                    <div class="row no-m">
                      <div class="input-field col s12 m6">
                        <input id="descricaoCampo[4]" ng-model="CadastrarTipoOcorrenciaCrtl.tipoOcorrencia.campos[4].descricao" type="text" class="validate">
                        <label for="descricaoCampo[4]">campo</label>
                      </div>

                      <div class="input-field col s12 m5">
                        <input id="tipoCampo4" type="text" style="display:none;" ng-model="CadastrarTipoOcorrenciaCrtl.tipoOcorrencia.campos[4].tipoCampo" />
                        <select onchange="alterarComboTipoOcorrencia(4);" class="tipoCampo4 selectable">
                          <option value="" disabled selected>Selecione</option>
                          <option ng-repeat="item in tiposCampoOcorrenciaConsulta" value="{{item}}">{{item}}</option>
                          
                        </select>
                        <label>Tipo do campo</label>
                      </div>
                      <!--  -->

                      <!--  -->
                    <div class="row no-m">
                      <div class="input-field col s12 m6">
                        <input id="descricaoCampo[5]" ng-model="CadastrarTipoOcorrenciaCrtl.tipoOcorrencia.campos[5].descricao" type="text" class="validate">
                        <label for="descricaoCampo[5]">campo</label>
                      </div>

                      <div class="input-field col s12 m5">
                        <input id="tipoCampo5" type="text" style="display:none;" ng-model="CadastrarTipoOcorrenciaCrtl.tipoOcorrencia.campos[5].tipoCampo" />
                        <select onchange="alterarComboTipoOcorrencia(5);" class="tipoCampo5 selectable">
                          <option value="" disabled selected>Selecione</option>
                          <option ng-repeat="item in tiposCampoOcorrenciaConsulta" value="{{item}}">{{item}}</option>
                          
                        </select>
                        <label>Tipo do campo</label>
                      </div>
                      <!--  -->
                    

                      <div class="input-field col s12">
                        <button class="btn-large blue darken-2 waves-effect waves-light col s12" ng-click="CadastrarTipoOcorrenciaCrtl.cadastrarTipoOcorrencia();" name="action">CADASTRAR TIPO OCORRÊNCIA
                          <i class="material-icons right">send</i>
                        </button>
                      </div>

                      </div>

                  </div>
                </div>

              </div>
            </div>
          </div>
        </main>

          <!-- Scripts -->
          <script type="text/javascript" src="js/materialize.js"></script>
          <script type="text/javascript">
            $(document).ready(function(){
                $('.selectable').material_select();
                $('.btn_menu').sideNav({
                    menuWidth: 285, 
                    closeOnClick: false
                  }
                );
                $('.collapsible').collapsible();

                $('.caret').remove();
              });

            function alterarComboTipoOcorrencia(id) {
              $("#tipoCampo"+id).val($("div.tipoCampo"+id+" li.selected span").get(0).innerHTML);
              angular.element($("#tipoCampo"+id)).triggerHandler('input')
            }
          </script>
          <!-- /Scripts -->
        </body>
      </html>