        <!DOCTYPE html>
      <html>
        <head>
          <meta charset="utf-8">
          <title>RPW • Admin</title>
            <script type="text/javascript" src="js/jquery-2.1.1.min.js"></script>
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <link type="text/css" rel="stylesheet" href="css/materialize.css"  media="screen,projection"/>
            <link type="text/css" rel="stylesheet" href="css/admin.css" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        </head>

        <body>
          <!-- MENU -->
          <nav>

            <div class="nav-wrapper">

              <div class="logo-symbol hide-on-med-and-up">
                <img src="img/logo_symbol.png" width="116" height="143">
              </div>

              <ul class="left hide-on-med-and-up2 btn_menu" data-activates="slide-out">
                <li><a href="#!"><i class="material-icons">menu</i></a></li>
              </ul>

              <ul class="right hide-on-small-only btn_sair">
                <li><a href="#!"><i class="material-icons right">exit_to_app</i>Sair</a></li>
              </ul>
            </div>

            <ul id="slide-out" class="side-nav fixed rpw-menu">
              <li class="logo"><img src="img/logo_rpw.png" /></li>

              <li><a ng-click="CadastrarCameraCrtl.inicio();" class="waves-effect"><i class="material-icons">home</i>Início</a></li>
              <li><div class="divider"></div></li>
              <li><a ng-click="CadastrarCameraCrtl.voltar();" class="waves-effect"><i class="material-icons">business</i>Voltar</a></li>
            </ul>



          </nav>
          <!-- /MENU -->

        <main>
          <div class="section no-p">
            <div class="container2">
              <div class="row no-m">
                <div class="col">
                  <h5 class="header blue-text text-darken-2 center-on-small-only title"><i class="material-icons">business</i> <span class="light"> Cadastrar Câmera</span></h5>
                </div>
              </div>

              <div class="row">
                <div class="col s12 m12 ">
                  <div class="card-panel">

                    <!--  -->

                    <div class="container_passos mt-20">
                      
                      <!-- /header passos -->
                      
                      <form novalidate name="mainForm" ng-submit="CadastrarCameraCrtl.cadastrarCamera();"> 

                        <!-- passo 3 -->
                        <div class="row setup-content" id="step-3">
                          <div class="col-xs-12">
                            
                              

                            <div class="col s12">
                               <p><b>Câmera</b></p>
                            </div>
							
							              <div class="input-field col s12 m12">
                              <span class="text-bold">{{CadastrarCameraCrtl.nomeCliente}}</label>
                            </div>

                            <div id="mensagensValidacaoDescricao" class="col s12 m12 mensagensValidacao" ng-show="mainForm.descricao.$dirty && (mainForm.descricao.$error.required)">
                              <div class="col">
                                <span ng-class="error" ng-show="mainForm.descricao.$dirty && mainForm.descricao.$error.required"><i class="tiny material-icons mr10">error</i>Descrição do equipamento é obrigatório</span>
                              </div>  
                            </div>

                            <div id="mensagensValidacaoNumero" class="col s12 m12 mensagensValidacao" ng-show="mainForm.numero.$dirty && (mainForm.numero.$error.required)">
                              <div class="col">
                                <span ng-class="error" ng-show="mainForm.numero.$dirty && mainForm.numero.$error.required"><i class="tiny material-icons mr10">error</i>Número do equipamento é obrigatório</span>
                              </div>  
                            </div>
							
                            <div class="input-field col s12 m6">
                              <input id="numero" type="text" name="numero" ng-model="CadastrarCameraCrtl.camera.numeroCamera" required>
                              <label for="numero">Número</label>
                            </div>

                            <div class="input-field col s12 m6">
                              <input id="descricao" type="text" name="descricao" ng-model="CadastrarCameraCrtl.camera.descricaoCamera" required>
                              <label for="descricao">Descrição</label>
                            </div>

                            <div class="input-field col s12 m6">
                              <input id="localizacao" type="text" ng-model="CadastrarCameraCrtl.camera.localizacaoCamera">
                              <label for="localizacao">Localização</label>
                            </div>

                            <div class="input-field col s12 m6">
                              <input id="tipoCamera" type="text" style="display:none;" ng-model="CadastrarCameraCrtl.camera.tipoCamera" />
                              <select onchange="alterarComboTipoCamera();" class="tipoCamera_equipamento selectable">
                                <option value="" disabled selected>Selecione</option>
                                <option ng-repeat="item in tipoCamerasConsulta" value="{{item}}">{{item}}</option>
                                
                              </select>
                              <label>Tipo de câmera</label>
                            </div>
                            

                            <div class="input-field col s12 m12">
              							   <button type="submit" class="btn-large blue darken-2 waves-effect waves-light col s12" ng-disabled="mainForm.$invalid" name="action">CADASTRAR CAMERA</button>
              						  </div>

                          </div>
                        </div>
                        <!-- /passo 3 -->
                      </form>
                        
                    </div>


                      <!--  -->

                  </div>
                </div>

              </div>
            </div>
          </div>
        </main>

          <!-- Scripts -->
          <script type="text/javascript" src="js/materialize.js"></script>
          <script type="text/javascript">
            $(document).ready(function () {

              $('.selectable').material_select();
              $('.btn_menu').sideNav({
                  menuWidth: 285, 
                  closeOnClick: false
                }
              );
              $('.collapsible').collapsible();
              $('.caret').remove();


              angular.element($("#tipoCamera")).triggerHandler('input')
              var tipoCamera = $("#tipoCamera").val();
              if(tipoCamera != null && tipoCamera != "") {
                
                $("label").each(function( key, value ) {
                  $(this).addClass("active");
                });

                $("div.tipoCamera_equipamento > input.select-dropdown").val(tipoCamera);  
                $("div.tipoCamera_equipamento > label").removeClass("active");  
              }

            });


            function alterarComboTipoCamera() {
              $("#tipoCamera").val($("div.tipoCamera_equipamento li.selected span").get(0).innerHTML);
              angular.element($("#tipoCamera")).triggerHandler('input')
            }
          </script>
          <!-- /Scripts -->
        </body>
      </html>