        <!DOCTYPE html>
      <html>
        <head>
          <meta charset="utf-8">
          <title>RPW • Admin</title>
            <script type="text/javascript" src="js/jquery-2.1.1.min.js"></script>
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <link type="text/css" rel="stylesheet" href="css/materialize.css"  media="screen,projection"/>
            <link type="text/css" rel="stylesheet" href="css/admin.css" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        </head>

        <body>
          <!-- MENU -->
          <nav>

            <div class="nav-wrapper">

              <div class="logo-symbol hide-on-med-and-up">
                <img src="img/logo_symbol.png" width="116" height="143">
              </div>

              <ul class="left hide-on-med-and-up2 btn_menu" data-activates="slide-out">
                <li><a href="#!"><i class="material-icons">menu</i></a></li>
              </ul>

              <ul class="right hide-on-small-only btn_sair">
                <li><a href="#!"><i class="material-icons right">exit_to_app</i>Sair</a></li>
              </ul>
            </div>

            <ul id="slide-out" class="side-nav fixed rpw-menu">
              <li class="logo"><img src="img/logo_rpw.png" /></li>
              <li><a href="admin.html" class="waves-effect"><i class="material-icons">home</i>Início</a></li>
              <li><div class="divider"></div></li>
              <li><a href="admin_usuario.html" class="waves-effect"><i class="material-icons">person_add</i>Cadastrar Usuário</a></li>
              <li><div class="divider"></div></li>
              <li class="active"><a href="admin_cliente.html" class="waves-effect"><i class="material-icons">business</i>Cadastrar Cliente</a></li>
              <li><div class="divider"></div></li>
              <li><a href="admin_ocorrencia.html" class="waves-effect"><i class="material-icons">note_add</i>Tipos de ocorrência</a></li>
            </ul>



          </nav>
          <!-- /MENU -->

        <main>
          <div class="section no-p">
            <div class="container2">
              <div class="row no-m">
                <div class="col">
                  <h5 class="header blue-text text-darken-2 center-on-small-only title"><i class="material-icons">business</i> <span class="light"> Cadastrar Cliente</span></h5>
                </div>
              </div>

              <div class="row">
                <div class="col s12 m12 ">
                  <div class="card-panel">

                    <!--  -->

                    <div class="container_passos mt-20">
                      
                      <!-- header passos -->
                      <div class="stepwizard">
                        <div class="stepwizard-row setup-panel">
                          <div class="stepwizard-step">
                            <a href="#step-1" type="button" class="btn indigo darken-3 btn-primary btn-circle">1</a>
                            <p>Passo 1</p>
                          </div>
                          <div class="stepwizard-step">
                            <a href="#step-2" type="button" class="btn indigo darken-3 btn-default btn-circle" disabled>2</a>
                            <p>Passo 2</p>
                          </div>
                          <div class="stepwizard-step">
                            <a href="#step-3" type="button" class="btn indigo darken-3 btn-default btn-circle" disabled>3</a>
                            <p>Passo 3</p>
                          </div>
                        </div>
                      </div>
                      <!-- /header passos -->
                      
                      <form role="form" action="" method="post">
                        <!-- passo 1 -->
                        <div class="row setup-content" id="step-1">
                          <div class="">
                            <div class="">

                              <div class="row">

                                <div class="input-field col s12 m12">
                                  <input id="passo1_nome" type="text" class="validate form-group" required>
                                  <label for="passo1_nome">Nome</label>
                                </div>

                                <div class="input-field col s12 m6">
                                  <input id="passo1_emailautomatico" type="text" class="validate form-group" required>
                                  <label for="passo1_emailautomatico">Email automatico</label>

                                </div>

                                <div class="input-field col s12 m6">
                                  <input id="passo1_emailresponsavel" type="text" class="validate form-group" required>
                                  <label for="passo1_emailresponsavel">Email do responsável</label>
                                </div>

                              </div>


                              <div class="input-field col s12 m6">
                                <input id="passo1_cep" placeholder="Ex: 00000-000" type="text" class="validate form-group" required>
                                <label for="passo1_cep">CEP</label>
                              </div>

                              <div class="input-field col s12 m6">
                                <select class="passo1_estado selectable">
                                  <option value="" disabled selected>--</option>
                                  <option value="AC">Acre</option>
                                  <option value="AL">Alagoas</option>
                                  <option value="AP">Amapá</option>
                                  <option value="AM">Amazonas</option>
                                  <option value="BA">Bahia</option>
                                  <option value="CE">Ceará</option>
                                  <option value="DF">Distrito Federal</option>
                                  <option value="ES">Espirito Santo</option>
                                  <option value="GO">Goiás</option>
                                  <option value="MA">Maranhão</option>
                                  <option value="MS">Mato Grosso do Sul</option>
                                  <option value="MT">Mato Grosso</option>
                                  <option value="MG">Minas Gerais</option>
                                  <option value="PA">Pará</option>
                                  <option value="PB">Paraíba</option>
                                  <option value="PR">Paraná</option>
                                  <option value="PE">Pernambuco</option>
                                  <option value="PI">Piauí</option>
                                  <option value="RJ">Rio de Janeiro</option>
                                  <option value="RN">Rio Grande do Norte</option>
                                  <option value="RS">Rio Grande do Sul</option>
                                  <option value="RO">Rondônia</option>
                                  <option value="RR">Roraima</option>
                                  <option value="SC">Santa Catarina</option>
                                  <option value="SP">São Paulo</option>
                                  <option value="SE">Sergipe</option>
                                  <option value="TO">Tocantins</option>
                                </select>
                                <label>Estado</label>
                              </div>

                              <div class="input-field col s12 m6">
                                <input id="passo1_cidade" placeholder="Ex: São Paulo" type="text" class="validate">
                                <label for="passo1_cidade">Cidade</label>
                              </div>


                              <div class="input-field col s12 m6">
                                <input id="passo1_bairro" placeholder="Ex: Jardim Angela" type="text" class="validate">
                                <label for="passo1_bairro">Bairro</label>
                              </div>

                              <div class="input-field col s12">
                                <input id="passo1_logradouro" placeholder="Ex: Jardim Angela" type="text" class="validate">
                                <label for="passo1_logradouro">Logradouro</label>
                              </div>  

                              <div class="input-field col hide-on-small-only m6"> <!-- vazio --> </div>

                              <div class="input-field col s12 m6">
                                <button class="btn-large blue darken-2 waves-effect waves-light col s12 nextBtn" type="submit" name="action">Próximo
                                  <i class="material-icons right">arrow_forward</i>
                                </button>
                              </div>
                            </div>  
                          </div>
                        </div>
                        <!-- /passo 1 -->

                        <!-- passo 2 -->
                        <div class="row setup-content" id="step-2">
                          <div class="col-xs-6 col-md-offset-3">
              
                            <div class="col s12">
                               <p><b>Lista de e-mails relatório diario</b></p>
                            </div>
                            <div class="input-field col s11 m11">
                              <input id="passo2_emaildiario" type="email" class="validate">
                              <label for="passo2_emaildiario">E-mail</label>
                            </div>

                            <div class="input-field col s12 m1">
                              <a class="btn-floating"><i class="material-icons">add</i></a>
                            </div>

                            <div class="col s12">
                               <p><b>Lista de e-mails relatório diario</b></p>
                            </div>

                            <div class="input-field col s11 m11">
                              <input id="passo2_emailmensal" type="email" class="validate">
                              <label for="passo2_emailmensal">E-mail</label>
                            </div>

                            <div class="input-field col s1 m1">
                              <a class="btn-floating"><i class="material-icons">add</i></a>
                            </div>

                            <div class="input-field col s12 m6"> 
                              <button class="btn-large grey darken-1 waves-effect waves-light col s12 prevBtn" type="submit" name="action">Anterior
                                <i class="material-icons left">arrow_back</i>
                              </button>
                            </div>
                            <div class="input-field col s12 m6">
                              <button class="btn-large blue darken-2 waves-effect waves-light col s12 nextBtn" type="submit" name="action">Próximo
                                <i class="material-icons right">arrow_forward</i>
                              </button>
                            </div>


                          </div>
                        </div>
                        <!-- /passo 2 -->

                        <!-- passo 3 -->
                        <div class="row setup-content" id="step-3">
                          <div class="col-xs-6 col-md-offset-3">
                            
                              

                            <div class="col s12">
                               <p><b>Lista de Câmeras</b></p>
                            </div>
                            <div class="input-field col s12 m6">
                              <input id="passo2_emaildiario" type="email" class="validate">
                              <label for="passo2_emaildiario">Número</label>
                            </div>

                            <div class="input-field col s12 m6">
                              <input id="passo2_emailmensal" type="email" class="validate">
                              <label for="passo2_emailmensal">Descrição</label>
                            </div>

                            <div class="input-field col s12 m6">
                              <input id="passo2_emailmensal" type="email" class="validate">
                              <label for="passo2_emailmensal">Localização</label>
                            </div>

                            <div class="input-field col s12 m6">
                              <select class="usuario_tipo selectable">
                                <option value="" disabled selected>Escolha</option>
                                <option value="1">Tipo 1</option>
                                <option value="2">Tipo 2</option>=
                              </select>
                              <label>Tipo da Câmera</label>
                            </div>

                            <div class="input-field col s12 m12">
                              <a class="btn-floating right"><i class="material-icons">add</i></a>
                            </div>

                            <div class="row">
                              <div class="col s12 m12" >
                                <table class="responsive-table striped">
                                  <thead>
                                    <tr>
                                        <th data-field="id">Número</th>
                                        <th data-field="id">Descrição</th>
                                        <th data-field="id">Localização</th>
                                        <th data-field="id">Tipo da Câmera</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td>000001</td>
                                      <td>--</td>
                                      <td>Entrada</td>
                                      <td>Tipo 1</td>
                                    </tr>
                                    <tr>
                                      <td>000002</td>
                                      <td>--</td>
                                      <td>Sala de Reunião</td>
                                      <td>Tipo 2</td>
                                    </tr>
                                    <tr>
                                      <td>000003</td>
                                      <td>--</td>
                                      <td>Porão</td>
                                      <td>Tipo 3</td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>

                            <div class="input-field col s12 m6"> 
                              <button class="btn-large grey darken-1 waves-effect waves-light col s12 prevBtn" type="submit" name="action">Anterior
                                <i class="material-icons left">arrow_back</i>
                              </button>
                            </div>
                            <div class="input-field col s12 m6">
                              <button class="btn-large green darken-2 waves-effect waves-light col s12 nextBtn" type="submit" name="action">Finalizar
                                <i class="material-icons right">arrow_forward</i>
                              </button>
                            </div>

                          </div>
                        </div>
                        <!-- /passo 3 -->
                      </form>
                        
                    </div>


                      <!--  -->

                  </div>
                </div>

              </div>
            </div>
          </div>
        </main>

          <!-- Scripts -->
          <script type="text/javascript" src="js/materialize.js"></script>
          <script type="text/javascript">
            $(document).ready(function () {
              var navListItems = $('div.setup-panel div a'),
                      allWells = $('.setup-content'),
                      allNextBtn = $('.nextBtn'),
                    allPrevBtn = $('.prevBtn');

              allWells.hide();

              navListItems.click(function (e) {
                  e.preventDefault();
                  var $target = $($(this).attr('href')),
                          $item = $(this);

                  if (!$item.hasClass('disabled')) {
                      navListItems.removeClass('btn-primary').addClass('btn-default');
                      $item.addClass('btn-primary');
                      allWells.hide();
                      $target.show();
                      $target.find('input:eq(0)').focus();
                  }
              });
              
              allPrevBtn.click(function(){
                  var curStep = $(this).closest(".setup-content"),
                      curStepBtn = curStep.attr("id"),
                      prevStepWizard = $('div.setup-panel div a[href="#' + curStepBtn + '"]').parent().prev().children("a");

                      prevStepWizard.removeAttr('disabled').trigger('click');
              });

              allNextBtn.click(function(){
                  var curStep = $(this).closest(".setup-content"),
                      curStepBtn = curStep.attr("id"),
                      nextStepWizard = $('div.setup-panel div a[href="#' + curStepBtn + '"]').parent().next().children("a"),
                      curInputs = curStep.find("input[type='text'],input[type='url']"),
                      isValid = true;

                  $(".form-group").removeClass("has-error");
                  for(var i=0; i<curInputs.length; i++){
                      if (!curInputs[i].validity.valid){
                          isValid = false;
                          $(curInputs[i]).closest(".form-group").addClass("has-error");
                      }
                  }
z
                  if (isValid)
                      nextStepWizard.removeAttr('disabled').trigger('click');
              });

              $('div.setup-panel div a.btn-primary').trigger('click');

              $('.selectable').material_select();
              $('.btn_menu').sideNav({
                  menuWidth: 285, 
                  closeOnClick: false
                }
              );
              $('.collapsible').collapsible();

            });


          </script>
          <!-- /Scripts -->
        </body>
      </html>