  <!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8">
      <title>RPW • Admin</title>
        <script type="text/javascript" src="js/jquery-2.1.1.min.js"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="css/materialize.css"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="css/admin.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>
      <!-- MENU -->
      <nav>

        <div class="nav-wrapper">

          <div class="logo-symbol hide-on-med-and-up">
            <img src="img/logo_symbol.png" width="116" height="143">
          </div>

          <ul class="left hide-on-med-and-up2 btn_menu" data-activates="slide-out">
            <li><a href="#!"><i class="material-icons">menu</i></a></li>
          </ul>

          <ul class="right hide-on-small-only btn_sair">
            <li><a href="#" ng-click="sair();"><i class="material-icons right">exit_to_app</i>Sair</a></li>
          </ul>
        </div>
            <ul id="slide-out" class="side-nav fixed rpw-menu">
              <li class="logo"><img src="img/logo_rpw.png" /></li>
              <li><a ng-click="ClienteCrtl.voltar();" class="waves-effect"><i class="material-icons">home</i>Início</a></li>
            </ul>
      </nav>
      <!-- /MENU -->

    <main>
      <div class="section">
        <div class="container2">
           <div class="row no-m">
                <div class="col">
                  <h5 class="header blue-text text-darken-2 center-on-small-only title"><i class="material-icons">note_add</i> <span class="light"> Clientes</span></h5>
                </div>
              </div>

          <div class="row card-panel">
            <div class="col s12 m12">

                  <span style="padding-top: 40px;" class="text-bold col s3">Selecione o cliente: </span>

                  <div class="input-field col s4">
                    <input id="cliente" type="text" style="display:none;" ng-model="ClienteCrtl.idCliente" />
                    <select onchange="alterarComboCliente();" class="select_cliente selectable">
                      <option value="" disabled selected>Selecione</option>
                      <option ng-repeat="item in clienteConsulta" value="{{item.id}}">{{item.id}} - {{item.nome}}</option>
                    </select>
                  </div>

                  <a id="ir" style="margin-top: 30px;margin-left: 10px;" ng-click="ClienteCrtl.consultarCliente();" class="waves-effect waves-light btn green darken-1 col s1" href="#!">IR</a>

                  <button style="margin-top: 20px;"class="btn-large blue darken-2 waves-effect waves-light col s3 right" ng-click="ClienteCrtl.cadastrar();" name="action">NOVO CLIENTE</button>

            </div>
          </div>

          <div id="dadosCliente" ng-show="ClienteCrtl.edicao">
             <div class="row">
                <div class="col s12 m12" >
                <h5 class="header black-text text-darken-2 center-on-small-only title"><i class="material-icons">toc</i> <span class="light">Dados cadastrais</span></h5>
                <div class="card-panel">
                    <div class="row">
                      <div class="col s12 m6" >
                        <span class="bold">ID:</span>
                        <span>{{clientesListaConsulta.id}}</span>
                      </div>

                      <div class="col s12 m6" >
                        <span class="bold">Nome:</span> 
                        <span>{{clientesListaConsulta.nome}}</span>
                      </div>
                      
                    </div>

                    <div class="row">
                      <div class="col s12 m6" >
                        <span class="bold">Email automático:</span> 
                        <span>{{clientesListaConsulta.emailAutomatico}}</span>
                      </div>

                      <div class="col s12 m6" >
                        <span class="bold">Email responsável:</span> 
                        <span>{{clientesListaConsulta.emailResposavel}}</span>
                      </div>
                      
                    </div>

                    <div class="row">
                      <div class="col s12 m12" >
                        <span class="bold">Emails relatório diário:</span> 
                        <span>{{clientesListaConsulta.emailsRelatorioDiario}}</span>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col s12 m12" >
                        <span class="bold">Emails relatório mensal:</span> 
                        <span>{{clientesListaConsulta.emailsRelatorioMensal}}</span>
                      </div>
                    </div>
                    
                </div>
                </div>
              </div>


              <div class="row">
                <div class="col s12 m12" >
                <h5 class="header black-text text-darken-2 center-on-small-only title"><i class="material-icons">toc</i> <span class="light">Equipamentos cadastrados</span></h5>
                <div class="card-panel">
                  <table class="responsive-table striped" ng-show="clientesListaConsulta.cameras.length > 0">
                    <thead>
                      <tr>
                          <th data-field="id">Descrição</th>
                          <th data-field="id">Tipo</th>
                          <th data-field="id" class="center-on-small-only right-align">Operações</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="equipamento in clientesListaConsulta.cameras">
                        <td>Alvin dos Santos</td>
                        <td>12/08/2016 • 12:09</td>
                        <td class="right-align">
                          <i class="material-icons small blue-text">mode_edit</i>
                          <i class="material-icons small red-text">delete</i>
                        </td>
                      </tr>
                    </tbody>
                  </table>

                  <center><h6 ng-show="clientesListaConsulta.cameras.length == 0">Nenhum equipamento cadastrado</h6></center>

                  <div class="row center">
                    <div class="input-field col s12 m12">
                      <a class="btn-floating right" ng-click="ClienteCrtl.cadastrarEquipamento(clientesListaConsulta.id, clientesListaConsulta.nome);"><i class="material-icons">add</i></a>
                    </div>
                  </div>
                </div>

                </div>
              </div>

             

              <div class="row">
                <div class="col s12 m12" >
                <h5 class="header black-text text-darken-2 center-on-small-only title"><i class="material-icons">toc</i> <span class="light">Ocorrências associadas</span></h5>
                <div class="card-panel">
                  <table class="responsive-table striped" ng-show="clientesListaConsulta.tiposOcorrencia.length > 0">
                    <thead>
                      <tr>
                          <th data-field="id">Descrição ocorrência</th>
                          <th data-field="id" class="center-on-small-only right-align">Operações</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr  ng-repeat="ocorrencia in clientesListaConsulta.tiposOcorrencia">
                        <td>Alvin dos Santos</td>
                        <td class="right-align">
                          <i class="material-icons small blue-text">mode_edit</i>
                          <i class="material-icons small red-text">delete</i>
                        </td>
                      </tr>
                    </tbody>
                  </table>

                  <center><h6 ng-show="clientesListaConsulta.tiposOcorrencia.length == 0">Nenhuma ocorrência associada</h6></center>

                  <div class="row center">
                    <div class="input-field col s12 m12">
                      <a class="btn-floating right" ng-click="ClienteCrtl.associarOcorrencia(clientesListaConsulta.id, clientesListaConsulta.nome);"><i class="material-icons">add</i></a>
                    </div>
                  </div>
                </div>

                </div>
              </div>

              

              <br>
              <br>
              <br>

              <div class="row">
                <button class="btn-large blue darken-2 waves-effect waves-light col s12" ng-click="CadastrarTipoOcorrenciaCrtl.cadastrarTipoOcorrencia();" name="action">ALTERAR CLIENTE</button>
              </div>
          </div>

        </div>
      </div>
    </main>

      <!-- Scripts -->
      <script type="text/javascript" src="js/materialize.js"></script>
      <script type="text/javascript">
        $(document).ready(function(){
            $('.selectable').material_select();
            $('.btn_menu').sideNav({
                menuWidth: 285, 
                closeOnClick: false
              }
            );

            $('.caret').remove();
            $('.collapsible').collapsible();
          });


        function alterarComboCliente() {
          var clienteSelecionado = $("div.select_cliente li.selected span").get(0).innerHTML;
          $("#cliente").val(clienteSelecionado.split(" - ")[0]);
          angular.element($("#cliente")).triggerHandler('input')
        }
      </script>
      <!-- /Scripts -->
    </body>
  </html>