  <!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8">
      <title>RPW • Admin</title>
        <script type="text/javascript" src="js/jquery-2.1.1.min.js"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="css/materialize.css"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="css/admin.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <style>
          table {
              font-family: arial, sans-serif;
              width: 90%;
          }

          td, th {
              border: 0.3px solid #DCDCDC;
              text-align: left;
              padding: 2px;
          }

          tr:nth-child(even) {
              background-color: #F5F5F5;
          }

          .textBold {
            font-weight: bold;
          }
        </style>
    </head>

    <body>

      <main>

      <a href="#" onclick="imprimirRelatorio();"><i class="material-icons small blue-text">print</i></a>

      <div id="relatorio" style="width: 612px; background-color: white; font-size: 10px;">
      
        <img src="img/logo_rpw.png" width="66" height="73" style="margin-bottom: 15px">

        <table>
          <tr style="background: #4F81BD; border: solid #4F81BD 1.0pt;">
            <td class="textBold" colspan="4">Dados do Monitoramento.</td>
          </tr>
          <tr>
            <td class="textBold" width="20%">Data Início:</td>
            <td width="20%">{{ImprimirRelatorioCrtl.turnoConsulta.dataInicio}}</td>
            <td class="textBold" width="20%">Data Fim:</td>
            <td>{{ImprimirRelatorioCrtl.turnoConsulta.dataFim}}</td>
          </tr>
          <tr>
            <td class="textBold">Responsável pelo relatório:</td>
            <td>{{ImprimirRelatorioCrtl.turnoConsulta.nomeUsuario}}</td>
            <td class="textBold">Cliente:</td>
            <td>{{ImprimirRelatorioCrtl.turnoConsulta.nomeCliente}}</td>
          </tr>
          <tr>
            <td class="textBold">Líder de segurança:</td>
            <td colspan="3">{{ImprimirRelatorioCrtl.turnoConsulta.liderSeguranca}}</td>
          </tr>
          <tr>
            <td class="textBold">Operadores:</td>
            <td colspan="3">{{ImprimirRelatorioCrtl.turnoConsulta.operadores}}</td>
          </tr>
        </table>

        <br>
        <br>

        <div ng-repeat="grupoOcorrencia in ImprimirRelatorioCrtl.turnoConsulta.ocorrenciasDto">
          <table>
            <tr style="background: #4F81BD; border: solid #4F81BD 1.0pt;">
              <td class="textBold" colspan="4">{{grupoOcorrencia.descricao}}</td>
            </tr>
            <tr>
              <td class="textBold" ng-repeat="campo in grupoOcorrencia.ocorrenciasDto[0].campos">{{campo.descricao}}</td>
            </tr>
            <tr  ng-repeat="campo in grupoOcorrencia.ocorrenciasDto">
              <td ng-repeat="campo in grupoOcorrencia.ocorrenciasDto[0].campos">{{campo.valor}}</td>
            </tr>
          </table>

          <br>
          <br>
        </div>

      </div>
      </main>        
      

      <!-- Scripts -->
      <script type="text/javascript" src="js/materialize.js"></script>
      <script type="text/javascript">
        $(document).ready(function(){
            $('.selectable').material_select();
            $('#fecharturno').leanModal();
            $('.btn_menu').sideNav({
                menuWidth: 285, 
                closeOnClick: false
              }
            );
            $('.collapsible').collapsible();
            $('.caret').remove();

            $(".ng-scope").css("margin-left", "0px");

          });

        function imprimirRelatorio() {
          var pdf = new jsPDF('p', 'pt', 'letter');
          var canvas = pdf.canvas;
          canvas.height = 72 * 11;
          canvas.width=72 * 8.5;;
          // var width = 400;
          html2pdf($("#relatorio"), pdf, function(pdf) {
            var string = pdf.output('datauristring');
            var x = window.open();
            x.document.open();
            x.document.location=string;
              }
          );
        }

        function generatePdf() {              
          var pdf = new jsPDF('p', 'pt', 'letter');
          var canvas = pdf.canvas;
          canvas.height = 72 * 11;
          canvas.width=72 * 8.5;;
          // var width = 400;
          html2pdf($("#relatorio"), pdf, function(pdf) {
            var binary = doc.output();
            return binary ? btoa(binary) : "";
          });
        }

      </script>
      <!-- /Scripts -->
    </body>
  </html>