  <!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8">
      <title>&nbsp;</title>
        <script type="text/javascript" src="js/jquery-2.1.1.min.js"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="css/materialize.css"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="css/print.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>

      <main style="background: white !important;">

      <div class="controles">
        <a href="#" ng-click="ImprimirRelatorioCrtl.voltar()" class="waves-effect waves-light btn blue-grey darken-1"><i class="material-icons left">arrow_back</i>Voltar</a>
        <a href="#" onclick="CallPrint(null);" class="waves-effect waves-light btn"><i class="material-icons right">print</i>Imprimir</a>
      </div>

      <div id="relatorio" >
        <div class="logobg">
            <img src="img/logo_rpw.png" width="80" height="100">
          </div>

        <table class="maintable">
          <tr class="titulo">
            <td class="textBold" colspan="2">Dados do relatório.</td>
          </tr>
          <tr>
            <td width="20%"><span class="b">Cliente:</span></td>
            <td><span>{{ImprimirRelatorioMensalCrtl.relatorio.cliente.nome}}</span></td>
          </tr>
          <tr>
            <td><span class="b">Data:</span></td>
            <td><span>{{ImprimirRelatorioMensalCrtl.relatorio.mes}}/{{ImprimirRelatorioMensalCrtl.relatorio.ano}}</span></td>
          </tr>
        </table>

        <br />
        <br />
        <span style="font-size: 18px;font-weight: bold;color: darkblue;">1. EQUIPAMENTOS</span>
        <br />

        <div>
          <table class="maintable" ng-show="ImprimirRelatorioMensalCrtl.relatorio.gruposEquipamento.length > 0">
            <tr class="titulo">
              <td class="textBold" colspan="2">CÂMERAS - TOTAL DE HORAS DE INOPERÂNCIA NO MÊS</td>
            </tr>
            <tr>
              <td width="50%" class="textBold">Câmera</td>
              <td width="50%" class="textBold">Horas</td>
            </tr>
            <tr  ng-repeat="quantidadeHorasEquipamento in ImprimirRelatorioMensalCrtl.equipamentos track by $index">
              <td>{{quantidadeHorasEquipamento.descricaoEquipamento}}</td>
              <td>{{quantidadeHorasEquipamento.quantidadeHorasMes}}</td>
            </tr>

            <tr ng-show="ImprimirRelatorioMensalCrtl.equipamentos.length == 0">
              <td colspan="2">Não houveram inoperâncias durante o mês.</td>
            </tr>
          </table>
        </div>


        <div ng-repeat="grupoEquipamento in ImprimirRelatorioMensalCrtl.relatorio.gruposEquipamento" ng-show="ImprimirRelatorioMensalCrtl.relatorio.gruposEquipamento.length > 0">
          <table class="maintable" ng-show="grupoEquipamento.horasInoperantes.length > 0">
            <tr class="titulo">
              <td class="textBold" colspan="31">{{grupoEquipamento.descricaoGrupoEquipamento}} - CÂMERAS / HORAS DE INOPERÂNCIA POR DIA.</td>
            </tr>
            <tr>
              <td width="32.25%" class="textBold">Câmera</td>
              <td width="2.25%" class="textBold">1</td>
              <td width="2.25%" class="textBold">2</td>
              <td width="2.25%" class="textBold">3</td>
              <td width="2.25%" class="textBold">4</td>
              <td width="2.25%" class="textBold">5</td>
              <td width="2.25%" class="textBold">6</td>
              <td width="2.25%" class="textBold">7</td>
              <td width="2.25%" class="textBold">8</td>
              <td width="2.25%" class="textBold">9</td>
              <td width="2.25%" class="textBold">10</td>
              <td width="2.25%" class="textBold">11</td>
              <td width="2.25%" class="textBold">12</td>
              <td width="2.25%" class="textBold">13</td>
              <td width="2.25%" class="textBold">14</td>
              <td width="2.25%" class="textBold">15</td>
              <td width="2.25%" class="textBold">16</td>
              <td width="2.25%" class="textBold">17</td>
              <td width="2.25%" class="textBold">18</td>
              <td width="2.25%" class="textBold">19</td>
              <td width="2.25%" class="textBold">20</td>
              <td width="2.25%" class="textBold">21</td>
              <td width="2.25%" class="textBold">22</td>
              <td width="2.25%" class="textBold">23</td>
              <td width="2.25%" class="textBold">24</td>
              <td width="2.25%" class="textBold">25</td>
              <td width="2.25%" class="textBold">26</td>
              <td width="2.25%" class="textBold">27</td>
              <td width="2.25%" class="textBold">28</td>
              <td width="2.25%" class="textBold">29</td>
              <td width="2.25%" class="textBold">30</td>
            </tr>
            <tr  ng-repeat="quantidadeHorasEquipamento in grupoEquipamento.horasInoperantes">
              <td>{{quantidadeHorasEquipamento.descricaoEquipamento}}</td>
              <td>{{quantidadeHorasEquipamento.quantidadeHorasDia[1]}}</td>
              <td>{{quantidadeHorasEquipamento.quantidadeHorasDia[2]}}</td>
              <td>{{quantidadeHorasEquipamento.quantidadeHorasDia[3]}}</td>
              <td>{{quantidadeHorasEquipamento.quantidadeHorasDia[4]}}</td>
              <td>{{quantidadeHorasEquipamento.quantidadeHorasDia[5]}}</td>
              <td>{{quantidadeHorasEquipamento.quantidadeHorasDia[6]}}</td>
              <td>{{quantidadeHorasEquipamento.quantidadeHorasDia[7]}}</td>
              <td>{{quantidadeHorasEquipamento.quantidadeHorasDia[8]}}</td>
              <td>{{quantidadeHorasEquipamento.quantidadeHorasDia[9]}}</td>
              <td>{{quantidadeHorasEquipamento.quantidadeHorasDia[10]}}</td>
              <td>{{quantidadeHorasEquipamento.quantidadeHorasDia[11]}}</td>
              <td>{{quantidadeHorasEquipamento.quantidadeHorasDia[12]}}</td>
              <td>{{quantidadeHorasEquipamento.quantidadeHorasDia[13]}}</td>
              <td>{{quantidadeHorasEquipamento.quantidadeHorasDia[14]}}</td>
              <td>{{quantidadeHorasEquipamento.quantidadeHorasDia[15]}}</td>
              <td>{{quantidadeHorasEquipamento.quantidadeHorasDia[16]}}</td>
              <td>{{quantidadeHorasEquipamento.quantidadeHorasDia[17]}}</td>
              <td>{{quantidadeHorasEquipamento.quantidadeHorasDia[18]}}</td>
              <td>{{quantidadeHorasEquipamento.quantidadeHorasDia[19]}}</td>
              <td>{{quantidadeHorasEquipamento.quantidadeHorasDia[20]}}</td>
              <td>{{quantidadeHorasEquipamento.quantidadeHorasDia[21]}}</td>
              <td>{{quantidadeHorasEquipamento.quantidadeHorasDia[22]}}</td>
              <td>{{quantidadeHorasEquipamento.quantidadeHorasDia[23]}}</td>
              <td>{{quantidadeHorasEquipamento.quantidadeHorasDia[24]}}</td>
              <td>{{quantidadeHorasEquipamento.quantidadeHorasDia[25]}}</td>
              <td>{{quantidadeHorasEquipamento.quantidadeHorasDia[26]}}</td>
              <td>{{quantidadeHorasEquipamento.quantidadeHorasDia[27]}}</td>
              <td>{{quantidadeHorasEquipamento.quantidadeHorasDia[28]}}</td>
              <td>{{quantidadeHorasEquipamento.quantidadeHorasDia[29]}}</td>
              <td>{{quantidadeHorasEquipamento.quantidadeHorasDia[30]}}</td>
            </tr>

            <tr  ng-show="ImprimirRelatorioMensalCrtl.relatorio.quantidadeOcorrencias.length == 0">
              <td colspan="2">Não houveram inoperâncias durante o mês.</td>
            </tr>
          </table>
        </div>

        <br />
        <br />
        <span style="font-size: 18px;font-weight: bold;color: darkblue;">2. OCORRÊNCIAS</span>
        <br />

        <div>
          <table class="maintable">
            <tr class="titulo">
              <td class="textBold" colspan="2">Total de ocorrências no mês.</td>
            </tr>
            <tr>
              <td width="70%" class="textBold">Tipo ocorrência</td>
              <td width="30%" class="textBold">Quantidade</td>
            </tr>
            <tr  ng-repeat="quantidadeMes in ImprimirRelatorioMensalCrtl.relatorio.quantidadeOcorrencias" ng-show="ImprimirRelatorioMensalCrtl.relatorio.quantidadeOcorrencias.length > 0">
              <td>{{quantidadeMes.descricaoTipoOcorrencia}}</td>
              <td>{{quantidadeMes.quantidadeOcorrencias}}</td>
            </tr>

            <tr  ng-show="ImprimirRelatorioMensalCrtl.relatorio.quantidadeOcorrencias.length == 0">
              <td colspan="2">Não houveram ocorrências durante o mês.</td>
            </tr>
          </table>
        </div>

        <div>
          <table class="maintable">
            <tr class="titulo">
              <td class="textBold" colspan="31">Total de ocorrências identificadas pelo monitoramento.</td>
            </tr>
            <tr>
              <td width="32.25%" class="textBold">Tipo ocorrência</td>
              <td width="2.25%" class="textBold">1</td>
              <td width="2.25%" class="textBold">2</td>
              <td width="2.25%" class="textBold">3</td>
              <td width="2.25%" class="textBold">4</td>
              <td width="2.25%" class="textBold">5</td>
              <td width="2.25%" class="textBold">6</td>
              <td width="2.25%" class="textBold">7</td>
              <td width="2.25%" class="textBold">8</td>
              <td width="2.25%" class="textBold">9</td>
              <td width="2.25%" class="textBold">10</td>
              <td width="2.25%" class="textBold">11</td>
              <td width="2.25%" class="textBold">12</td>
              <td width="2.25%" class="textBold">13</td>
              <td width="2.25%" class="textBold">14</td>
              <td width="2.25%" class="textBold">15</td>
              <td width="2.25%" class="textBold">16</td>
              <td width="2.25%" class="textBold">17</td>
              <td width="2.25%" class="textBold">18</td>
              <td width="2.25%" class="textBold">19</td>
              <td width="2.25%" class="textBold">20</td>
              <td width="2.25%" class="textBold">21</td>
              <td width="2.25%" class="textBold">22</td>
              <td width="2.25%" class="textBold">23</td>
              <td width="2.25%" class="textBold">24</td>
              <td width="2.25%" class="textBold">25</td>
              <td width="2.25%" class="textBold">26</td>
              <td width="2.25%" class="textBold">27</td>
              <td width="2.25%" class="textBold">28</td>
              <td width="2.25%" class="textBold">29</td>
              <td width="2.25%" class="textBold">30</td>
            </tr>
            <tr  ng-repeat="quantidadeMesMonitoramento in ImprimirRelatorioMensalCrtl.relatorio.quantidadesOcorrenciasMesDetalhadoMonitoramento" ng-show="ImprimirRelatorioMensalCrtl.relatorio.quantidadesOcorrenciasMesDetalhadoMonitoramento.length > 0">
              <td>{{quantidadeMesMonitoramento.descricaoTipoOcorrencia}}</td>
              <td>{{quantidadeMesMonitoramento.quantidadeOcorrenciasDia[1] == 0 ? '*' : quantidadeMesMonitoramento.quantidadeOcorrenciasDia[1]}}</td>
              <td>{{quantidadeMesMonitoramento.quantidadeOcorrenciasDia[2] == 0 ? '*' : quantidadeMesMonitoramento.quantidadeOcorrenciasDia[2]}}</td>
              <td>{{quantidadeMesMonitoramento.quantidadeOcorrenciasDia[3] == 0 ? '*' : quantidadeMesMonitoramento.quantidadeOcorrenciasDia[3]}}</td>
              <td>{{quantidadeMesMonitoramento.quantidadeOcorrenciasDia[4] == 0 ? '*' : quantidadeMesMonitoramento.quantidadeOcorrenciasDia[4]}}</td>
              <td>{{quantidadeMesMonitoramento.quantidadeOcorrenciasDia[5] == 0 ? '*' : quantidadeMesMonitoramento.quantidadeOcorrenciasDia[5]}}</td>
              <td>{{quantidadeMesMonitoramento.quantidadeOcorrenciasDia[6] == 0 ? '*' : quantidadeMesMonitoramento.quantidadeOcorrenciasDia[6]}}</td>
              <td>{{quantidadeMesMonitoramento.quantidadeOcorrenciasDia[7] == 0 ? '*' : quantidadeMesMonitoramento.quantidadeOcorrenciasDia[7]}}</td>
              <td>{{quantidadeMesMonitoramento.quantidadeOcorrenciasDia[8] == 0 ? '*' : quantidadeMesMonitoramento.quantidadeOcorrenciasDia[8]}}</td>
              <td>{{quantidadeMesMonitoramento.quantidadeOcorrenciasDia[9] == 0 ? '*' : quantidadeMesMonitoramento.quantidadeOcorrenciasDia[9]}}</td>
              <td>{{quantidadeMesMonitoramento.quantidadeOcorrenciasDia[10] == 0 ? '*' : quantidadeMesMonitoramento.quantidadeOcorrenciasDia[10]}}</td>
              <td>{{quantidadeMesMonitoramento.quantidadeOcorrenciasDia[11] == 0 ? '*' : quantidadeMesMonitoramento.quantidadeOcorrenciasDia[11]}}</td>
              <td>{{quantidadeMesMonitoramento.quantidadeOcorrenciasDia[12] == 0 ? '*' : quantidadeMesMonitoramento.quantidadeOcorrenciasDia[12]}}</td>
              <td>{{quantidadeMesMonitoramento.quantidadeOcorrenciasDia[13] == 0 ? '*' : quantidadeMesMonitoramento.quantidadeOcorrenciasDia[13]}}</td>
              <td>{{quantidadeMesMonitoramento.quantidadeOcorrenciasDia[14] == 0 ? '*' : quantidadeMesMonitoramento.quantidadeOcorrenciasDia[14]}}</td>
              <td>{{quantidadeMesMonitoramento.quantidadeOcorrenciasDia[15] == 0 ? '*' : quantidadeMesMonitoramento.quantidadeOcorrenciasDia[15]}}</td>
              <td>{{quantidadeMesMonitoramento.quantidadeOcorrenciasDia[16] == 0 ? '*' : quantidadeMesMonitoramento.quantidadeOcorrenciasDia[16]}}</td>
              <td>{{quantidadeMesMonitoramento.quantidadeOcorrenciasDia[17] == 0 ? '*' : quantidadeMesMonitoramento.quantidadeOcorrenciasDia[17]}}</td>
              <td>{{quantidadeMesMonitoramento.quantidadeOcorrenciasDia[18] == 0 ? '*' : quantidadeMesMonitoramento.quantidadeOcorrenciasDia[18]}}</td>
              <td>{{quantidadeMesMonitoramento.quantidadeOcorrenciasDia[19] == 0 ? '*' : quantidadeMesMonitoramento.quantidadeOcorrenciasDia[19]}}</td>
              <td>{{quantidadeMesMonitoramento.quantidadeOcorrenciasDia[20] == 0 ? '*' : quantidadeMesMonitoramento.quantidadeOcorrenciasDia[20]}}</td>
              <td>{{quantidadeMesMonitoramento.quantidadeOcorrenciasDia[21] == 0 ? '*' : quantidadeMesMonitoramento.quantidadeOcorrenciasDia[21]}}</td>
              <td>{{quantidadeMesMonitoramento.quantidadeOcorrenciasDia[22] == 0 ? '*' : quantidadeMesMonitoramento.quantidadeOcorrenciasDia[22]}}</td>
              <td>{{quantidadeMesMonitoramento.quantidadeOcorrenciasDia[23] == 0 ? '*' : quantidadeMesMonitoramento.quantidadeOcorrenciasDia[23]}}</td>
              <td>{{quantidadeMesMonitoramento.quantidadeOcorrenciasDia[24] == 0 ? '*' : quantidadeMesMonitoramento.quantidadeOcorrenciasDia[24]}}</td>
              <td>{{quantidadeMesMonitoramento.quantidadeOcorrenciasDia[25] == 0 ? '*' : quantidadeMesMonitoramento.quantidadeOcorrenciasDia[25]}}</td>
              <td>{{quantidadeMesMonitoramento.quantidadeOcorrenciasDia[26] == 0 ? '*' : quantidadeMesMonitoramento.quantidadeOcorrenciasDia[26]}}</td>
              <td>{{quantidadeMesMonitoramento.quantidadeOcorrenciasDia[27] == 0 ? '*' : quantidadeMesMonitoramento.quantidadeOcorrenciasDia[27]}}</td>
              <td>{{quantidadeMesMonitoramento.quantidadeOcorrenciasDia[28] == 0 ? '*' : quantidadeMesMonitoramento.quantidadeOcorrenciasDia[28]}}</td>
              <td>{{quantidadeMesMonitoramento.quantidadeOcorrenciasDia[29] == 0 ? '*' : quantidadeMesMonitoramento.quantidadeOcorrenciasDia[29]}}</td>
              <td>{{quantidadeMesMonitoramento.quantidadeOcorrenciasDia[30] == 0 ? '*' : quantidadeMesMonitoramento.quantidadeOcorrenciasDia[30]}}</td>
            </tr>

            <tr  ng-show="ImprimirRelatorioMensalCrtl.relatorio.quantidadeOcorrencias.length == 0">
              <td colspan="2">Não houveram ocorrências durante o mês.</td>
            </tr>
          </table>

        </div>

        <div>
          <table class="maintable">
            <tr class="titulo">
              <td class="textBold" colspan="31">Total de ocorrências identificadas pela segurança.</td>
            </tr>
            <tr>
              <td width="32.25%" class="textBold">Tipo ocorrência</td>
              <td width="2.25%" class="textBold">1</td>
              <td width="2.25%" class="textBold">2</td>
              <td width="2.25%" class="textBold">3</td>
              <td width="2.25%" class="textBold">4</td>
              <td width="2.25%" class="textBold">5</td>
              <td width="2.25%" class="textBold">6</td>
              <td width="2.25%" class="textBold">7</td>
              <td width="2.25%" class="textBold">8</td>
              <td width="2.25%" class="textBold">9</td>
              <td width="2.25%" class="textBold">10</td>
              <td width="2.25%" class="textBold">11</td>
              <td width="2.25%" class="textBold">12</td>
              <td width="2.25%" class="textBold">13</td>
              <td width="2.25%" class="textBold">14</td>
              <td width="2.25%" class="textBold">15</td>
              <td width="2.25%" class="textBold">16</td>
              <td width="2.25%" class="textBold">17</td>
              <td width="2.25%" class="textBold">18</td>
              <td width="2.25%" class="textBold">19</td>
              <td width="2.25%" class="textBold">20</td>
              <td width="2.25%" class="textBold">21</td>
              <td width="2.25%" class="textBold">22</td>
              <td width="2.25%" class="textBold">23</td>
              <td width="2.25%" class="textBold">24</td>
              <td width="2.25%" class="textBold">25</td>
              <td width="2.25%" class="textBold">26</td>
              <td width="2.25%" class="textBold">27</td>
              <td width="2.25%" class="textBold">28</td>
              <td width="2.25%" class="textBold">29</td>
              <td width="2.25%" class="textBold">30</td>
              <td width="2.25%" class="textBold">31</td>
            </tr>
            <tr  ng-repeat="quantidadeMesSeguranca in ImprimirRelatorioMensalCrtl.relatorio.quantidadesOcorrenciasMesDetalhadoSeguranca" ng-show="ImprimirRelatorioMensalCrtl.relatorio.quantidadesOcorrenciasMesDetalhadoSeguranca.length > 0">
              <td>{{quantidadeMesSeguranca.descricaoTipoOcorrencia}}</td>
              <td>{{quantidadeMesSeguranca.quantidadeOcorrenciasDia[1] == 0 ? '*' : quantidadeMesSeguranca.quantidadeOcorrenciasDia[1]}}</td>
              <td>{{quantidadeMesSeguranca.quantidadeOcorrenciasDia[2] == 0 ? '*' : quantidadeMesSeguranca.quantidadeOcorrenciasDia[2]}}</td>
              <td>{{quantidadeMesSeguranca.quantidadeOcorrenciasDia[3] == 0 ? '*' : quantidadeMesSeguranca.quantidadeOcorrenciasDia[3]}}</td>
              <td>{{quantidadeMesSeguranca.quantidadeOcorrenciasDia[4] == 0 ? '*' : quantidadeMesSeguranca.quantidadeOcorrenciasDia[4]}}</td>
              <td>{{quantidadeMesSeguranca.quantidadeOcorrenciasDia[5] == 0 ? '*' : quantidadeMesSeguranca.quantidadeOcorrenciasDia[5]}}</td>
              <td>{{quantidadeMesSeguranca.quantidadeOcorrenciasDia[6] == 0 ? '*' : quantidadeMesSeguranca.quantidadeOcorrenciasDia[6]}}</td>
              <td>{{quantidadeMesSeguranca.quantidadeOcorrenciasDia[7] == 0 ? '*' : quantidadeMesSeguranca.quantidadeOcorrenciasDia[7]}}</td>
              <td>{{quantidadeMesSeguranca.quantidadeOcorrenciasDia[8] == 0 ? '*' : quantidadeMesSeguranca.quantidadeOcorrenciasDia[8]}}</td>
              <td>{{quantidadeMesSeguranca.quantidadeOcorrenciasDia[9] == 0 ? '*' : quantidadeMesSeguranca.quantidadeOcorrenciasDia[9]}}</td>
              <td>{{quantidadeMesSeguranca.quantidadeOcorrenciasDia[10] == 0 ? '*' : quantidadeMesSeguranca.quantidadeOcorrenciasDia[10]}}</td>
              <td>{{quantidadeMesSeguranca.quantidadeOcorrenciasDia[11] == 0 ? '*' : quantidadeMesSeguranca.quantidadeOcorrenciasDia[11]}}</td>
              <td>{{quantidadeMesSeguranca.quantidadeOcorrenciasDia[12] == 0 ? '*' : quantidadeMesSeguranca.quantidadeOcorrenciasDia[12]}}</td>
              <td>{{quantidadeMesSeguranca.quantidadeOcorrenciasDia[13] == 0 ? '*' : quantidadeMesSeguranca.quantidadeOcorrenciasDia[13]}}</td>
              <td>{{quantidadeMesSeguranca.quantidadeOcorrenciasDia[14] == 0 ? '*' : quantidadeMesSeguranca.quantidadeOcorrenciasDia[14]}}</td>
              <td>{{quantidadeMesSeguranca.quantidadeOcorrenciasDia[15] == 0 ? '*' : quantidadeMesSeguranca.quantidadeOcorrenciasDia[15]}}</td>
              <td>{{quantidadeMesSeguranca.quantidadeOcorrenciasDia[16] == 0 ? '*' : quantidadeMesSeguranca.quantidadeOcorrenciasDia[16]}}</td>
              <td>{{quantidadeMesSeguranca.quantidadeOcorrenciasDia[17] == 0 ? '*' : quantidadeMesSeguranca.quantidadeOcorrenciasDia[17]}}</td>
              <td>{{quantidadeMesSeguranca.quantidadeOcorrenciasDia[18] == 0 ? '*' : quantidadeMesSeguranca.quantidadeOcorrenciasDia[18]}}</td>
              <td>{{quantidadeMesSeguranca.quantidadeOcorrenciasDia[19] == 0 ? '*' : quantidadeMesSeguranca.quantidadeOcorrenciasDia[19]}}</td>
              <td>{{quantidadeMesSeguranca.quantidadeOcorrenciasDia[20] == 0 ? '*' : quantidadeMesSeguranca.quantidadeOcorrenciasDia[20]}}</td>
              <td>{{quantidadeMesSeguranca.quantidadeOcorrenciasDia[21] == 0 ? '*' : quantidadeMesSeguranca.quantidadeOcorrenciasDia[21]}}</td>
              <td>{{quantidadeMesSeguranca.quantidadeOcorrenciasDia[22] == 0 ? '*' : quantidadeMesSeguranca.quantidadeOcorrenciasDia[22]}}</td>
              <td>{{quantidadeMesSeguranca.quantidadeOcorrenciasDia[23] == 0 ? '*' : quantidadeMesSeguranca.quantidadeOcorrenciasDia[23]}}</td>
              <td>{{quantidadeMesSeguranca.quantidadeOcorrenciasDia[24] == 0 ? '*' : quantidadeMesSeguranca.quantidadeOcorrenciasDia[24]}}</td>
              <td>{{quantidadeMesSeguranca.quantidadeOcorrenciasDia[25] == 0 ? '*' : quantidadeMesSeguranca.quantidadeOcorrenciasDia[25]}}</td>
              <td>{{quantidadeMesSeguranca.quantidadeOcorrenciasDia[26] == 0 ? '*' : quantidadeMesSeguranca.quantidadeOcorrenciasDia[26]}}</td>
              <td>{{quantidadeMesSeguranca.quantidadeOcorrenciasDia[27] == 0 ? '*' : quantidadeMesSeguranca.quantidadeOcorrenciasDia[27]}}</td>
              <td>{{quantidadeMesSeguranca.quantidadeOcorrenciasDia[28] == 0 ? '*' : quantidadeMesSeguranca.quantidadeOcorrenciasDia[28]}}</td>
              <td>{{quantidadeMesSeguranca.quantidadeOcorrenciasDia[29] == 0 ? '*' : quantidadeMesSeguranca.quantidadeOcorrenciasDia[29]}}</td>
              <td>{{quantidadeMesSeguranca.quantidadeOcorrenciasDia[30] == 0 ? '*' : quantidadeMesSeguranca.quantidadeOcorrenciasDia[30]}}</td>
            </tr>

            <tr  ng-show="ImprimirRelatorioMensalCrtl.relatorio.quantidadeOcorrencias.length == 0">
              <td colspan="2">Não houveram ocorrências durante o mês.</td>
            </tr>
          </table>
        </div>


        <div ng-repeat="grupoOcorrencia in ImprimirRelatorioMensalCrtl.relatorio.grupoOcorrencias">
          <table class="maintable">
            <tr class="titulo">
              <td class="textBold" colspan="30">{{grupoOcorrencia.descricao}}</td>
            </tr>
            <tr>
              <td class="textBold" ng-repeat="campo in grupoOcorrencia.ocorrenciasDto[0].campos">{{campo.descricao}}</td>
            </tr>
            <tr  ng-repeat="campo in grupoOcorrencia.ocorrenciasDto">
              <td width="{{campo.tamanho}}%" ng-repeat="campo in grupoOcorrencia.ocorrenciasDto[0].campos">{{campo.valor}}</td>
            </tr>
          </table>
        </div>

      </div>

      <br />
      <br />
    </main>        
    

      <!-- Scripts -->
      <script type="text/javascript" src="js/materialize.js"></script>
      <script type="text/javascript">
        $(document).ready(function(){
            $('.selectable').material_select();
            $('#fecharturno').leanModal();
            $('.btn_menu').sideNav({
                menuWidth: 285, 
                closeOnClick: false
              }
            );
            $('.collapsible').collapsible();
            $('.caret').remove();

            $(".ng-scope").css("margin-left", "0px");

          });

        function CallPrint(strid)
        {    
             window.focus();
             window.print();
             window.close();
             return false;
        }

        function imprimirRelatorio() {
          var pdf = new jsPDF('p', 'pt', 'letter');
          var canvas = pdf.canvas;
          canvas.height = 72 * 11;
          canvas.width=72 * 8.5;;
          // var width = 400;
          html2pdf($("#relatorio"), pdf, function(pdf) {
            var string = pdf.output('datauristring');
            var x = window.open();
            x.document.open();
            x.document.location=string;
              }
          );
        }

        function generatePdf() {              
          var pdf = new jsPDF('p', 'pt', 'letter');
          var canvas = pdf.canvas;
          canvas.height = 72 * 11;
          canvas.width=72 * 8.5;;
          // var width = 400;
          html2pdf($("#relatorio"), pdf, function(pdf) {
            var binary = doc.output();
            return binary ? btoa(binary) : "";
          });
        }

      </script>
      <!-- /Scripts -->
    </body>
  </html>