  <!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8">
      <title>&nbsp;</title>
        <script type="text/javascript" src="js/jquery-2.1.1.min.js"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="css/materialize.css"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="css/print.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>

      <main style="background: white !important;">


        <div id="relatorio">

          <div class="controles">
            <a href="#" ng-click="ImprimirRelatorioCrtl.voltar()" class="waves-effect waves-light btn blue-grey darken-1"><i class="material-icons left">arrow_back</i>Voltar</a>
            <a href="#" onclick="javascript:CallPrint('relatorio');" class="waves-effect waves-light btn"><i class="material-icons right">print</i>Imprimir</a>
          </div>

          <div class="logobg">
            <img src="img/logo_rpw.png" width="80" height="100">
          </div>

          <table class="maintable">
            <tr class="titulo">
              <td class="textBold" colspan="4">Dados do Monitoramento</td>
            </tr>
            <tr>
              <td width="55%"><span class="b">Data Início:</span> <span>{{ImprimirRelatorioCrtl.turnoConsulta.dataInicio}}</span></td>
              <td width="45%"><span class="b">Data Fim:</span> <span>{{ImprimirRelatorioCrtl.turnoConsulta.dataFim}}</span></td>
            </tr>
            <tr>
              <td><span class="b">Responsável pelo relatório:</span> <span>{{ImprimirRelatorioCrtl.turnoConsulta.nomeUsuario}}</span></td>
              <td><span class="b">Cliente:</span> <span>
              {{ImprimirRelatorioCrtl.turnoConsulta.nomeCliente}}</span></td>
            </tr>
            <tr>
              <td><span class="b">Líder de segurança:</span> <span>{{ImprimirRelatorioCrtl.turnoConsulta.liderSeguranca}}</span></td>
              <td><span class="b">Operadores:</span> <span>{{ImprimirRelatorioCrtl.turnoConsulta.operadores}}</span></td>
            </tr>
          </table>

          <table class="maintable">
            <tr class="titulo">
              <td class="textBold" colspan="2">Imagem das Câmeras</td>
            </tr>
            <tr>
              <td width="70%" class="textBold">Câmera</td>
              <td width="30%" class="textBold">Tempo fora (em horas)</td>
            </tr>
            <tr ng-repeat="imagem in ImprimirRelatorioCrtl.turnoConsulta.imagemCameraDto" ng-show="ImprimirRelatorioCrtl.turnoConsulta.imagemCameraDto.length > 0">
              <td>{{imagem.descricaoCamera}}</td>
              <td>{{imagem.horasFora}}</td>
            </tr>

            <tr ng-repeat="imagem in ImprimirRelatorioCrtl.turnoConsulta.imagemCameraDto" ng-show="ImprimirRelatorioCrtl.turnoConsulta.imagemCameraDto.length == 0">
              <td colspan="2">Nenhuma câmera ficou fora durante o turno.</td>
            </tr>
          </table>

          <table class="maintable">
            <tr class="titulo">
              <td class="textBold" colspan="3">Detalhe inoperância das câmeras</td>
            </tr>
            <tr>
              <td width="40%" class="textBold">Câmera</td>
              <td width="30%" class="textBold">Início</td>
              <td width="30%" class="textBold">Término</td>
            </tr>
            <tr  ng-repeat="detalhe in ImprimirRelatorioCrtl.turnoConsulta.detalhesInoperanciaCamera" ng-show="ImprimirRelatorioCrtl.turnoConsulta.detalhesInoperanciaCamera.length > 0">
              <td>{{detalhe.descricaoCamera}}</td>
              <td>{{detalhe.inicio}}</td>
              <td>{{detalhe.fim}}</td>
            </tr>

            <tr ng-show="ImprimirRelatorioCrtl.turnoConsulta.detalhesInoperanciaCamera.length == 0">
              <td colspan="2">Nenhuma câmera ficou fora durante o turno.</td>
            </tr>
          </table>

          <div ng-repeat="grupoOcorrencia in ImprimirRelatorioCrtl.turnoConsulta.ocorrenciasDto">
            <table class="maintable" ng-if="grupoOcorrencia.personalizada == false">
              <tr class="titulo">
                <td class="textBold" colspan="4">{{grupoOcorrencia.descricao}}</td>
              </tr>
              <tr>
                <td class="textBold" ng-repeat="campo in grupoOcorrencia.ocorrenciasDto[0].campos">{{campo.descricao}}</td>
              </tr>
              <tr ng-repeat="ocorrencia in grupoOcorrencia.ocorrenciasDto">
                <td width="{{campo.tamanho}}%" ng-repeat="campo in ocorrencia.campos" ng-class="{'texto-ocorrencia-destacada':ocorrencia.destacada}">{{campo.valor}}</td>
              </tr>
            </table>
          </div>

          <table class="maintable" ng-if="ImprimirRelatorioCrtl.turnoConsulta.chamadaPostoDTO != null">
              <tr class="titulo">
                <td class="textBold" colspan="4">Chamada de Postos</td>
              </tr>
              <tr>
                <td class="textBold">Efetivo</td>
                <td class="textBold">1</td>
                <td class="textBold">2</td>
                <td class="textBold">3</td>
                <td class="textBold">4</td>
                <td class="textBold">5</td>
                <td class="textBold">6</td>
                <td class="textBold">7</td>
                <td class="textBold">8</td>
                <td class="textBold">9</td>
                <td class="textBold">10</td>
              </tr>
              <tr ng-repeat="chamada in ImprimirRelatorioCrtl.turnoConsulta.chamadaPostoDTO.efetivos">
                <td width="20%">{{chamada.nomeEfetivo}} <br> ({{chamada.funcao}})</td>
                <td width="8%">{{chamada.verificacoesEfetivo[0].horario}} <br> {{chamada.verificacoesEfetivo[0].observacao}}</td>
                <td width="8%">{{chamada.verificacoesEfetivo[1].horario}} <br> {{chamada.verificacoesEfetivo[1].observacao}}</td>
                <td width="8%">{{chamada.verificacoesEfetivo[2].horario}} <br> {{chamada.verificacoesEfetivo[2].observacao}}</td>
                <td width="8%">{{chamada.verificacoesEfetivo[3].horario}} <br> {{chamada.verificacoesEfetivo[3].observacao}}</td>
                <td width="8%">{{chamada.verificacoesEfetivo[4].horario}} <br> {{chamada.verificacoesEfetivo[4].observacao}}</td>
                <td width="8%">{{chamada.verificacoesEfetivo[5].horario}} <br> {{chamada.verificacoesEfetivo[5].observacao}}</td>
                <td width="8%">{{chamada.verificacoesEfetivo[6].horario}} <br> {{chamada.verificacoesEfetivo[6].observacao}}</td>
                <td width="8%">{{chamada.verificacoesEfetivo[7].horario}} <br> {{chamada.verificacoesEfetivo[7].observacao}}</td>
                <td width="8%">{{chamada.verificacoesEfetivo[8].horario}} <br> {{chamada.verificacoesEfetivo[8].observacao}}</td>
                <td width="8%">{{chamada.verificacoesEfetivo[9].horario}} <br> {{chamada.verificacoesEfetivo[9].observacao}}</td>
              </tr>
            </table>

            <br />
            <br />

        </div>
      </main>        
      

      <!-- Scripts -->
      <script type="text/javascript" src="js/materialize.js"></script>
      <script type="text/javascript">
        $(document).ready(function(){
            $('.selectable').material_select();
            $('#fecharturno').leanModal();
            $('.btn_menu').sideNav({
                menuWidth: 285, 
                closeOnClick: false
              }
            );
            $('.collapsible').collapsible();
            $('.caret').remove();

            $(".ng-scope").css("margin-left", "0px");

          });

        function CallPrint(strid)
        {    
             window.focus();
             window.print();
             window.close();
             return false;
        }

        function imprimirRelatorio() {
          var pdf = new jsPDF('p', 'pt', 'letter');
          var canvas = pdf.canvas;
          canvas.height = 72 * 11;
          canvas.width=72 * 8.5;;
          // var width = 400;
          html2pdf($("#relatorio"), pdf, function(pdf) {
            var string = pdf.output('datauristring');
            var x = window.open();
            x.document.open();
            x.document.location=string;
              }
          );
        }

        function generatePdf() {              
          var pdf = new jsPDF('p', 'pt', 'letter');
          var canvas = pdf.canvas;
          canvas.height = 72 * 11;
          canvas.width=72 * 8.5;;
          // var width = 400;
          html2pdf($("#relatorio"), pdf, function(pdf) {
            var binary = doc.output();
            return binary ? btoa(binary) : "";
          });
        }

      </script>
      <!-- /Scripts -->
    </body>
  </html>