  <!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8">
      <title>RPW • Admin</title>
        <script type="text/javascript" src="js/jquery-2.1.1.min.js"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="css/materialize.css"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="css/admin.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>
      <!-- MENU -->
      <nav>

        <div class="nav-wrapper">

          <div class="logo-symbol hide-on-med-and-up">
            <img src="img/logo_symbol.png" width="116" height="143">
          </div>

          <ul class="left hide-on-med-and-up2 btn_menu" data-activates="slide-out">
            <li><a href="#!"><i class="material-icons">menu</i></a></li>
          </ul>

          <ul class="right hide-on-small-only btn_sair">
            <li><a href="#" ng-click="sair();"><i class="material-icons right">exit_to_app</i>Sair</a></li>
          </ul>
        </div>
            <ul id="slide-out" class="side-nav fixed rpw-menu">
              <li class="logo"><img src="img/logo_rpw.png" /></li>
              <li><a ng-click="TurnosPendentesCrtl.voltar();" class="waves-effect"><i class="material-icons">home</i>Início</a></li>
            </ul>
      </nav>
      <!-- /MENU -->

    <main>
      <div class="section">
        <div class="container2">
           <div class="row no-m">
                <div class="col">
                  <h5   class="header blue-text text-darken-2 center-on-small-only title"><i class="material-icons">note_add</i> <span class="light">Turnos Pendentes</span></h5>

                  <h5 ng-show="TurnosPendentesCrtl.tipoConsulta == 'andamento'" class="header blue-text text-darken-2 center-on-small-only title"><i class="material-icons">note_add</i> <span class="light">Turnos em andamento</span></h5>
                </div>
              </div>

          <div class="row card-panel">

          <div id="dadosCliente">

            <div class="row">
              <label class="col s12 barraBuscaFont">Digite a sua pesquisa: <input style="color:black;" ng-model="searchText"></label>
            </div>

             <div class="row">
                <div class="col s12 m12" >
                  <table class="responsive-table striped">
                    <thead>
                      <tr>
                          <th data-field="id">Operador</th>
                          <th data-field="id">Cliente</th>
                          <th data-field="id">Início</th>
                          <th data-field="id">Fim</th>
                          <th data-field="id" ng-show="TurnosPendentesCrtl.tipoConsulta != 'pendentes'">Status</th>
                          <th data-field="id" class="center-on-small-only right-align">Operações</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="turno in TurnosPendentesCrtl.turnosPendentes | filter:searchText">
                        <td>{{turno.nomeUsuario}}</td>
                        <td>{{turno.nomeCliente}}</td>
                        <td>{{turno.dataInicio}}</td>
                        <td>{{turno.dataFim}}</td>
                        <td ng-show="TurnosPendentesCrtl.tipoConsulta != 'pendentes'">{{turno.status}}</td>
                        <td class="right-align">
                          <a href="#" ng-click="TurnosPendentesCrtl.visualizarTurno(turno.id);"><i class="material-icons small red-text">mode_edit</i></a>
                          <a href="#" ng-click="TurnosPendentesCrtl.visualizarRelatorio(turno.id);"><i class="material-icons small blue-text" ng-if="turno.status == 'APROVADO'">print</i></a>
                          <a href="#" ng-click="TurnosPendentesCrtl.aprovar(turno.id);" ng-if="turno.status == 'AGUARDANDO_VALIDACAO'""><i class="material-icons small green-text">done</i></a>
                          <a href="#" ng-click="TurnosPendentesCrtl.enviar(turno.id);" ng-if="turno.status == 'APROVADO'"><i class="material-icons small black-text">email</i></a>
                        </td>
                      </tr>
                      
                    </tbody>
                  </table>
                </div>
              </div>
          </div>

        </div>
      </div>
    </main>

      <!-- Scripts -->
      <script type="text/javascript" src="js/materialize.js"></script>
      <script type="text/javascript">
        $(document).ready(function(){
            $('.selectable').material_select();
            $('.btn_menu').sideNav({
                menuWidth: 285, 
                closeOnClick: false
              }
            );

            $('.caret').remove();
            $('.collapsible').collapsible();
          });

      </script>
      <!-- /Scripts -->
    </body>
  </html>